.df {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.jcc {
	justify-content: center;
}
.jcsb {
	justify-content: space-between;
}
.jcsa {
	justify-content: space-around;
}
.aic{
	-ms-align-items: center;
	align-items: center;
}
.tac {
	text-align: center;
}
.tal {
	text-align: left;
}
.b-n {
	border: none;
}
.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
.m-auto {
	margin: 0 auto;
}
.ttu {
	text-transform: uppercase;
}
.padding-none {
	padding: 0;
}
.cursor {
	cursor: pointer;
}
.bg-none {
	background: none;
}
.transition {
	@include shift(all, .5s, ease);
}
.fdc {
	// flex-direction: column;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.regular {
	// Настройки шрифта здесь
	font-family: 'Gilroy-Regular',sans-serif;
}
.medium {
	// Настройки шрифта здесь
	font-family: 'Gilroy-Medium', sans-serif;
}
.semibold {
	// Настройки шрифта здесь
	font-family: 'Gilroy-SemiBold', sans-serif;
}
.bold {
	// Настройки шрифта здесь
	font-family: 'Gilroy-Bold', sans-serif;
}
.s-48 {
	@extend .semibold;
	font-size: em(48);
}
.s-30 {
	@extend .semibold;
	font-size: em(30);
}
.s-26 {
	@extend .semibold;
	font-size: em(26);
}

.m-26 {
	@extend .medium;
	font-size: em(26);
}

.s-24 {
	@extend .semibold;
	font-size: em(24);
}

.m-24 {
	@extend .medium;
	font-size: em(24);
}
.r-24 {
	@extend .regular;
	font-size: em(24);
}
.b-20 {
	@extend .bold;
	font-size: em(20);
}
.m-20 {
	@extend .medium;
	font-size: em(20);
}
.m-16 {
	@extend .medium;
	font-size: em(16);
}
.r-16 {
	@extend .regular;
	font-size: em(16);
}
.s-16 {
	@extend .semibold;
	font-size: em(16);
}
.r-12 {
	@extend .regular;
	font-size: em(12);
}
.btn {
	@extend .s-16;
	@extend .tac;
	@extend .b-n;
	color: $white;
	width: 240px;
	height: 50px;
	line-height: 50px;
	box-shadow: 0px 0px 15px rgba(216, 179, 103, 0.7);
	background-color: $gold;
	border-radius: 26px;
	&:active {
		box-shadow: none;
	}
}
