.container {
    // display: grid;
    &--sect {
        position: relative;
        // grid-template-columns: grid(240) grid(1440) grid(240);
        background-color: rgba(22, 24, 29, .95);
        height: 100%;
        &-contact {
            display: grid;
        }
        &-one {
            display: flex;
            align-items: center;
            background-color: rgba(22, 24, 29, .8);
            .offer {
                &__title,
                &__text,
                &__text--last,
                &__btn {
                    transition: all .8s ease;
                }
                &__title {
                    opacity: 0;
                    -webkit-transform: translateY(30px);
                    transform: translateY(30px);
                }
                &__text {
                    opacity: 0;
                    -webkit-transform: translateY(25px);
                    transform: translateY(25px);
                    &--last {
                         -webkit-transform: translateY(20px);
                         transform: translateY(20px);
                    }
                }
                &__btn {
                    opacity: 0;
                    -webkit-transform: translateY(20px);
                    transform: translateY(20px);
                }
            }
        }
        &-sliers,
        &-third,
        &-fouth,
        &-about,
        &-contact {
            .copy__name,
            .copy__weWillFuckYourMom {
                 opacity: 0;
                 -webkit-transform: translateY(30px);
                 transform: translateY(30px);
                 transition: all .5s ease-in-out;
            }
            .wrapper-sect {
                .title,
                .propose__item,
                .swiper-button-prev,
                .swiper-button-next,
                .advantage__wrappers,
                .about__text--1,
                .about__text--2,
                .about__text--3,
                .about__wrap--img,
                .about__img--mob,
                .contact__wrap--map,
                .contact__item-1,
                .contact__item-2,
                .contact__item-3,
                .contact__item-4,
                .contact__item-4-1,
                .contact__item-4-2,
                .contact__item-4-3,
                .copy__name,
                .copy__weWillFuckYourMom,
                .swiper-slide--1,
                .swiper-slide--5,
                .swiper-slide--2,
                .swiper-slide--6,
                .swiper-slide--3,
                .swiper-slide--7,
                .swiper-slide--4 {
                    opacity: 0;
                    -webkit-transform: translateY(30px);
                    transform: translateY(30px);
                    transition: all .5s ease;
                }
                .about__wrap--img,
                .contact__wrap--map {
                    opacity: 0;
                    transition: all .5s ease;
                }
                .swiper-button-prev,
                .swiper-button-next,
                .propose__item,
                .about__wrap--img,
                .swiper-slide--1,
                .swiper-slide--5,
                .swiper-slide--2,
                .swiper-slide--6,
                .swiper-slide--3,
                .swiper-slide--7,
                .swiper-slide--4 {
                    -webkit-transform: translateX(30px);
                    transform: translateX(30px);
                }
            }
        }
    }
    &--nav {
        @extend .df;
        .cr-1 {
            width: grid(360);
        }
        .cr-6 {
            width: grid(1200);
        }
    }

}
.pg-active, .prel, .active {
    .container {
        &--sect {
            .offer {
                &__title, &__text, &__btn {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    opacity: 1;
                }
                &__title {
                    transition: all .8s ease;
                }
                &__text {
                    transition: all 1s ease 1s;
                    &--last {
                        transition: all 1s ease 1.5s;
                    }
                }
                &__btn {
                    transition: all 1s ease 2s;
                }
            }
            &-sliers,
            &-third,
            &-fouth,
            &-about,
            &-contact {
                .copy__name,
                .copy__weWillFuckYourMom {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    opacity: 1;
                }
                .copy__name {
                    transition-duration: 1.8s;
                    transition-delay: 5s;
                }

                .copy__weWillFuckYourMom {
                    transition-duration: 1.8s;
                    transition-delay: 5.5s;
                }
                .wrapper-sect {
                    .title,
                    .swiper-button-prev,
                    .swiper-button-next,
                    .advantage__wrappers, 
                    .propose__item--1,
                    .propose__item--2,
                    .propose__item--3,
                    .about__text--1,
                    .about__text--2,
                    .about__text--3,
                    .about__wrap--img,
                    .about__img--mob,
                    .contact__item-1,
                    .contact__item-2,
                    .contact__item-3,
                    .contact__item-4,
                    .contact__item-4-1,
                    .contact__item-4-2,
                    .contact__item-4-3,
                    .copy__name,
                    .copy__weWillFuckYourMom {
                        -webkit-transform: translateY(0);
                        transform: translateY(0);
                        opacity: 1;
                    }
                    .swiper-slide--1,
                    .swiper-slide--5,
                    .swiper-slide--2,
                    .swiper-slide--6,
                    .swiper-slide--3,
                    .swiper-slide--7,
                    .swiper-slide--4 {
                        -webkit-transform: translateX(0);
                        transform: translateX(0);
                        opacity: 1;
                    }
                    .about__wrap--img,
                    .contact__wrap--map {
                        opacity: 1;
                    }
                    
                    .title {
                        transition: all .8s ease;
                    }
                    .about__img--mob {
                        transition: all 1s ease 1.2s;
                    }
                    .swiper-slide--1,
                    .swiper-slide--5,
                    .propose__item--1,
                    .about__text--1,
                    .contact__item-1 {
                        transition-duration: 1s;
                        transition-delay: .8s;
                    }
                    .swiper-slide--2,
                    .swiper-slide--6,
                    .propose__item--2,
                    .about__text--2,
                    .contact__item-2 {
                        transition-duration: 1.2s;
                        transition-delay: 1.5s;
                    }
                    .swiper-slide--3,
                    .swiper-slide--7,
                    .swiper-button-prev,
                    .propose__item--3,
                    .about__text--3,
                    .contact__item-3 {
                        transition-duration: 1.4s;
                        transition-delay: 2s;
                    }
                    .contact__item-4 {
                        transition-duration: 1.6s;
                        transition-delay: 2.2s;
                        &-1{
                            transition-duration: 1.8s;
                            transition-delay: 3s;
                        }
                        &-2{
                            transition-duration: 1.8s;
                            transition-delay: 3.5s;
                        }
                        &-3{
                            transition-duration: 1.8s;
                            transition-delay: 4s;
                        }
                    }
                    .contact__wrap--map {
                        transition-duration: 1.8s;
                        transition-delay: 4.5s;
                    }
                    .swiper-button-next,
                    .about__wrap--img,
                    .swiper-slide--4 {
                        transition-duration: 1.6s;
                        transition-delay: 2.5s;
                    }
                    .advantage {
                        &__item {
                            .advantage__wrappers {
                                transition-property: transform, opacity;
                                transition-timing-function: ease;
                            }
                            &--1 {
                                .advantage__wrappers {
                                    transition-duration: 1s;
                                    transition-delay: .8s;
                                }
                            }

                            &--2 {
                                .advantage__wrappers {
                                    transition-duration: 1.2s;
                                    transition-delay: 1.3s;
                                }
                            }

                            &--3 {
                                .advantage__wrappers {
                                    transition-duration: 1.4s;
                                    transition-delay: 1.8s;
                                }
                            }

                            &--4 {
                                .advantage__wrappers {
                                    transition-duration: 1.6s;
                                    transition-delay: 2.3s;
                                }
                            }

                            &--5 {
                                .advantage__wrappers {
                                    transition-duration: 1.8s;
                                    transition-delay: 2.8s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.preloader {
    @extend .df;
    @extend .jcc;
    @extend .aic;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    z-index: 999;
    opacity: 0;
    transform: scale(0);
    transition: transform .9s ease, opacity .5s ease;
    &__ico {
        width: 200px;
        height: 200px;
    }
}
.preloader__show {
    opacity: 1;
    transform: scale(1);
}
@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.lds-double-ring {
    position: relative;
}

.lds-double-ring div {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #ffffff transparent #ffffff transparent;
    -webkit-animation: lds-double-ring 1s linear infinite;
    animation: lds-double-ring 1s linear infinite;
}

.lds-double-ring div:nth-child(2) {
    width: 140px;
    height: 140px;
    top: 30px;
    left: 30px;
    border-color: transparent #d8b367 transparent #d8b367;
    -webkit-animation: lds-double-ring_reverse 1s linear infinite;
    animation: lds-double-ring_reverse 1s linear infinite;
}

.lds-double-ring {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}