// @mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
// 	$src: null;

// 	$extmods: (
// 		eot: "?",
// 		svg: "#" + str-replace($name, " ", "_")
// 	);

// 	$formats: (
// 		otf: "opentype",
// 		ttf: "truetype"
// 	);

// 	@each $ext in $exts {
// 		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
// 		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
// 		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
// 	}

// 	@font-face {
// 		font-family: quote($name);
// 		font-style: $style;
// 		font-weight: $weight;
// 		src: $src;
// 	}
// }

@mixin font-face($font-family, $url, $weight) {
	@font-face {
		font-family: "#{$font-family}";
		src: url('#{$url}.woff2') format('woff2'),
		url('#{$url}.woff') format('woff');
		font-weight: $weight;
		font-style: normal;
	}
}

@mixin placeholder($color, $opacity) {
	::-webkit-input-placeholder {
		color: $color;
		opacity: $opacity;
	}
	::-moz-placeholder {
		color: $color;
		opacity: $opacity;
	}
	:-moz-placeholder {
		color: $color;
		opacity: $opacity;
	}
	:-ms-input-placeholder {
		color: $color;
		opacity: $opacity;
	}
}


$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

$percent: 100%;
$myFullWidth: 1920;

@function grid($num, $ful: $myFullWidth) {
	@return #{$num * $percent / $ful};
}

@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $size $color;
        -moz-box-shadow:inset $top $left $blur $size $color;
        box-shadow:inset $top $left $blur $size $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $size $color;
        -moz-box-shadow: $top $left $blur $size $color;
        box-shadow: $top $left $blur $size $color;
    }
}

//usage: @include shift([property],[duration],[easing]);
@mixin shift($property: all, $duration: .3s, $ease: linear, $delay: 0){
	-webkit-transition: $property $duration $ease $delay;
	-moz-transition: $property $duration $ease $delay;
	-o-transition: $property $duration $ease $delay;
	transition: $property $duration $ease $delay;
}