.content-mod {
    &__4 {
        margin-left: grid(240);
        margin-top: 200px;
        display: block;
        width: 100%;
        // height: 500px;
        overflow: hidden;
    }
    &__wrap-top {
        margin-bottom: 70px;
    }
}
.content-mod__4 {
    margin-top: 100px;
    padding-right: 0;
    @extend .df;
    width: 100%;
}

figure {
    margin: 0;
}

%transition_all_03s {
    transition: all .3s ease;
}

%backface_visibility_hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.swiper-container-product {
    width: 80%;
    height: 433px;

    &.main-slider {
        // overflow: hidden;
    }

    // display:inline-block;
    // vertical-align:top;
    float: left;
    transition: opacity .6s ease,
    transform .3s ease;

    &.nav-slider {
        width: 20%;
        padding-left: 5px;
        background-color: $black;
        overflow: hidden;
        height: 433px;

        &.swiper-wrapper {}

        .swiper-product-nav {
            cursor: pointer;
            opacity: .4;
            transition: opacity .3s ease;

            &.swiper-slide-active {
                opacity: 1;
            }

            .content {
                width: 100%;

                .title {
                    font-size: 20px;
                }
            }
        }
    }

    &:hover {

        .swiper-button-prev,
        .swiper-button-next {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }

    &.loading {
        opacity: 0;
        visibility: hidden;
    }
}

.swiper-wrapper {}

.swiper-product {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    // width: 100%;
    height: 100%;
    // width: 1094px !important;
    overflow: hidden;
    @extend %backface_visibility_hidden;
    &:hover {
        box-shadow: none;
    }
    .slide-bgimg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    .entity-img {
        display: none;
    }

    .content {
        position: absolute;
        top: 20%;
        left: 0;
        width: 50%;
        padding-left: 5%;
        color: #fff;
        .title {
            font-size: em(35);
            @extend .semibold;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .caption {
            display: block;
            font-size: em(16);
            line-height: 1.4;
            transform: translateX(50px);
            opacity: 0;
            transition: opacity .3s ease, transform .7s ease;

            &.show {
                background-color: transparent;
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}

// .slider-btn-prev {
//     transform: translateX(50px);
// }

// .slider-btn-next {
//     transform: translateX(-50px);
// }