.modal-call {
    position: fixed;
    width: grid(720);
    z-index: 999;
    right: 0;
    top: 0;
    height: 100%;
    background-color: transparent;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translateX(820px);
    transition: all .5s ease;
    background-image: url(../img/bg/form/bg.jpg);
    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(22, 24, 29, 0.8);
        @extend .df;
        @extend .jcc;
        @extend .aic;
    }
    &_active {
        transform: translateX(0);
    }
    &_success {
        .modal-call {
            &__wrapper--success {
                transform: scale(1);
            }
            &__form {
                opacity: 0;
            }
        }
    }
    // .modal-call__form

    &__form {
        position: relative;
        width: grid(448, 720);
        height: grid(619, 970);
        padding-top: 13px;
        transition: all .5s ease;
    }

    // .modal-call__wrap

    &__wrap {
       &--input {
           position: relative;
       }
    }

    // .modal-call__title

    &__title {
        @extend .semibold;
        font-size: em(24);
    }

    // .modal-call__text

    &__text {
        @extend .regular;
        font-size: em(16);
        margin-top: 10px;
        margin-bottom: 18px;
    }

    // .modal-call__input

    &__input {
        position: relative;
        background-color: transparent;
        border: none;
        width: 100%;
        @extend .regular;
        font-size: em(16);
        padding: 15px 0;
        padding-left: 3px;
        border-bottom: 1px solid rgba(255,255,255, .5);
        color: $white;
        &:first-child {
            margin-bottom: 39px;
        }
        &:focus {
            border-bottom-color: $gold;
        }
        
    }

    // .modal-call__btn

    &__btn {
        @extend .offer__btn;
        margin-top: 80px;
    }

    &__wrapper--success {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(22, 24, 29, 0);
        transform: scale(0);
        transition: all .5s ease;
    }

    // .modal-call__success

    &__success {

        // .modal-call__success_ico

        &_ico {
            width: 170px;
            height: 170px;
            margin: 0 auto;
            svg {
                width: inherit;
                height: inherit;
            }
        }

        // .modal-call__success_wrap

        &_wrap {
            margin-top: 38px;
        }

        // .modal-call__success_title

        &_title {
            @extend .semibold;
            font-size: em(24);
            margin-bottom: 11px;
        }

        // .modal-call__success_text

        &_text {
            @extend .regular;
            font-size: em(16);
        }
    }
}

.close-call {
    position: absolute;
    right: 0;
    top: -25px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    svg {
        width: inherit;
        height: inherit;
    }
}
.error {
    &-phone, &-name {
        display: inline-block;
        font-size: em(16);
        color: #F54B4B;
        margin-top: 10px;
        opacity: 0;
    }
    &-name {
        position: absolute;
        left: 0;
        top: 47px;
    }
}
.modal-call {

    // .modal-call__wrapper

    &__wrapper {}

    // .modal-call__wrapper--success

    
}
