.modals {
    // .modals__wrapper
    // display: none;
    overflow: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    transform: scale(0);
    transition: transform 1s ease, opacity .5s ease;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    &-active__0,
    &-active__1,
    &-active__2,
    &-active__3,
    &-active__4 {
        transform: scale(1);
        opacity: 1;
        .modals {
            &__wrapper {
                background-color: rgba(22, 24, 29, .95);
                display: flex;
                align-items: center;
            }
        }
        .content-mod {
            &__top-title,
            &__top-text,
            &__main-wrap-img,
            &__main-list__left,
            &__main-list__right,
            &__main-text--one,
            &__main-text--two,
            &__main-text--three,
            &__main-copy {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    &-active__0 {
        background-image: url(../img/serv/mod/1.jpg);
        .content-mod {
            &__0 {
                transform: scaleY(1);
            }
            &__2,
            &__1,
            &__3,
            &__4 {
                display: none;
            }
        }
    }
    &-active__1 {
        background-image: url(../img/serv/mod/2.jpg);
        .content-mod {
            &__1 {
                transform: scaleY(1);
            }
            &__2, &__0, &__3, &__4 {
                display: none;
            }
        }
        
    }
    &-active__2 {
        background-image: url(../img/serv/mod/3.jpg);
        .content-mod {
            &__2 {
                transform: scaleY(1);
            }
            &__1,
            &__0,
            &__3,
            &__4 {
                display: none;
            }
        }
    }
    &-active__3 {
        background-image: url(../img/serv/mod/4.jpg);

        .content-mod {
            &__3 {
                transform: scaleY(1);
            }
            &__1,
            &__0,
            &__2,
            &__4 {
                display: none;
            }
        }
    }
    &-active__4 {
        background-image: url(../img/serv/mod/4.jpg);
        .modals__wrapper {
            padding-left: 0;
        }

        .content-mod {
            &__4 {
                transform: scaleY(1);
            }
            &__1,
            &__0,
            &__2,
            &__3 {
                display: none;
            }
        }
    }
    &__wrapper {
        padding-left: grid(240);
        background-color: rgb(22, 24, 29);
        height: 100%;
        transition: background-color .5s ease .5s;
    }
}
.content-mod {
    // .content-mod__wrap-top
    position: relative;
    padding-right: grid(240);
    transform: scaleY(0);
    &__wrap {
        &-top {
            margin-bottom: 40px !important;
            // transition: opacity 1s ease 1s;
        }
    }
    &__0 {
        .content-mod__main-wrap-img {
            background-image: url(../img/serv/1.jpg);
            
        }
    }
    &__1 {
        .content-mod__main-wrap-img {
            background-image: url(../img/serv/2.jpg);
            
        }
    }
    &__2 {
        .content-mod__main-wrap-img {
            background-image: url(../img/serv/3.jpg);
            
        }
    }
    &__3 {
        .content-mod__main-wrap-img {
            background-image: url(../img/serv/4.jpg);
            
        }
    }
    // For Animation only
    &__top-title,
    &__top-text,
    &__main-list__left,
    &__main-list__right,
    &__main-text--one,
    &__main-text--two,
    &__main-text--three,
    &__main-copy {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
        transition-property: all;
        transition-timing-function: ease;
    }
    &__top-title {
        transition-duration: .9s;
        transition-delay: 1s;
    }
    &__top-text {
        transition-duration: 1s;
        transition-delay: 1.5s;
    }
    &__main-wrap-img {
        background-color: transparent;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0;
        transition: all 1.1s ease 2s;
        img {
            display: none;
        }
        // transition-property: opacity;
        // transition-timing-function: ease;
        // transition-duration: 1.1s;
        // transition-delay: 2s;
    }
    &__main-list__left {
        transition-duration: .9s;
        transition-delay: 2.5s;
    }
    &__main-list__right {
        transition-duration: .9s;
        transition-delay: 2.5s;
    }
    &__main-text--one {
        transition-duration: .9s;
        transition-delay: 3s;
    }
    &__main-text--two {
        transition-duration: .9s;
        transition-delay: 3.5s;
    }
    &__main-text--three {
        transition-duration: .9s;
        transition-delay: 4s;
    }
    &__main-copy {
         transition-duration: .9s;
         transition-delay: 4.5s;   
    }
    // End block for Animation 
    // .content-mod__top-title
    &__top {
        position: relative;
        &-title {
            @extend .semibold;
            font-size: em(30);
            margin-bottom: 14px;
            color: $gold;
            
        }
        // .content-mod__top-text
        &-text {
            @extend .regular;
            font-size: em(20);
        }
        // .content-mod__top-back
        &-back {
            position: absolute;
            top: 0;
            right: grid(91);
            svg {
                width: 25px;
            }
            &:hover {
                svg {
                    path {
                        fill: $gold;
                    }
                }
            }
        }
    }
    // .content-mod__main
    &__main {
        display: grid;
        grid-template-columns: grid(720, 1440) grid(720, 1440); 
        // .content-mod__main-wrap--img
        &-wrap {
            &-right {
                padding-left: grid(87, 720);
            }
            &-img {
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
                width: 100%;
                border-radius: 3px;
                img {
                    display: none;
                    width: 100%;
                }
            }
            // .content-mod__main-wrap--list
            &-list {
                @extend .df;
                @extend .jcsb;
                margin-bottom: 20px;
            }
        }
        // .content-mod__main-list
        &-list {
            &__item {
                @extend .slide__hov-item;
                font-size: em(14);
            }
        }
        // .content-mod__main-text
        &-text {
            @extend .regular;
            font-size: em(13);
            margin-bottom: 14px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        // .content-mod__main-copy
        &-copy {
            font-size: em(13);
            text-align-last: right;
            font-style: italic;
        }
    }
}
