@media screen and (min-width:1400px){
    .swiper-slide {
        &--one,
        &--two,
        &--third,
        &--fouth {
            width: 612px;
            height: 382px;
        }
        &--fifth,
        &--sixth,
        &--seventh {
            height: 400px;
        }
    }
    .sect {
        &-1,
        &-2,
        &-3,
        &-4,
        &-5,
        &-6,
        &-7 {
           .container--sect {
               display: flex;
               align-items: center;
               .wrapper-sect {
                   width: 100%;
               }
           }
        }
        &-5,
        &-3 {
            .container--sect {
                .wrapper-sect {
                    .title {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    .about, 
    .contact {
        padding-top: 30px;
    }
    .contact {
        padding-top: 25px;
    }
}
 @media screen and (min-width:1300px) and (min-height: 970px) {
    .sect-2,
    .sect-3,
    .sect-4,
    .sect-5 {
        .container {
            &--sect {
                &-sliers {
                    .wrapper-sect {
                        .title {
                            margin-top: 250px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:1600px) {
    body {
        font: 16px Gilroy-regular,
        sans-serif;
    }
    .container {
        &--sect {
            &-sliers_two {
                .wrapper-sect {
                    .title {
                        margin-top: 250px;
                        margin-bottom: 100px;
                    }
                }
            }
        }
    }
    .logo {
        a {
            width: 153px;
        }
    }
    .menu {
        &__item {}
        &__link {
            font-size: 20px;
        }
    }
    .call {
        &__btn {
            font-size: 16px;
        }
    }
    .offer {
        &__title {
            margin-bottom: 30px;
        }
        &__text {
            margin-bottom: 25px;
            &--last {
                margin-bottom: 40px;
            }
        }
    }
    .title {
        margin-top: 200px;
        font-size: em(48);
    }
    .slider__wrap--btn {
        position: absolute;
        right: 69px;
        top: -90px;
        width: 130px;
        height: 46px;
    }
    .slider-btn-wrapper {
        width: 45px;
        height: 45px;
        .slider-btn {
            width: 45px;
            height: 45px;
        }
        &:last-child {
            margin-left: 30px;
        }
    }
    .swiper-slide {
        &--1,
        &--2,
        &--3,
        &--4,
        &-1,
        &-2,
        &-3,
        &-4,
        &--5,
        &--6,
        &--7,
        &-5,
        &-6,
        &-7 {
            width: 710px;
            height: 486px;
        }
        &--5,
        &--6,
        &--7,
        &-5,
        &-6,
        &-7 {
            height: 400px;
        }
    }
    .slide {
        // width: 710px;
        &__title {
            margin-bottom: 30px;
        }
        &__text {
            font-size: em(24);
        }
        &__hov {
            &__wrap {
                margin-top: 43px;
                margin-bottom: 46px;
            }
            &-list {
                margin-top: 20px;
                &:last-child {
                    margin-right: 30px;
                }
            }
            &-item {
                font-size: 16px;
                margin-bottom: 10px;
                // &:after {
                //     width: 13px;
                //     height: 13px;
                //     margin-top: -9px;
                // }
            }
        }
        &__btn {
            // margin-top: 50px;
        }
    }
    .advantage {
        &__item {
            margin-right: 160px;
            height: 164px;
            &--1 {
                padding-left: 65px;
            }

            &--2 {
                padding-left: 58px;
            }

            &--3 {
                padding-left: 48px;
            }

            &--4 {
                padding-left: 41px;
            }

            &--5 {
                padding-left: 24px;
            }
            &--3, &--5 {
                margin-right: 0;
            }
            &_text {
                font-family: 'Gilroy-Semibold', sans-serif;
                font-size: em(24);
            }
        }
    }
    .propose {
        &__item {
            height: 518px;
        }
        &__main {
            font-size: em(24);
        }
        &__list {
            &_item {
                &:first-child {
                    padding-bottom: 25px;
                }

                &:last-child {
                    padding-top: 25px;
                }
                &--center {
                    padding: 25px 0;
                }
            }
        }
    }
    .about {
        padding-top: 97px;
        &__text {
            font-size: 16px;
        }
        &__wrap {
            &--img {
                // width: grid(960);
            }
        }
    }
    .contact {
        padding-top: 95px;
        .title {
            margin-bottom: 42px;
        }
        &__item {
            &--title, &--text {
                font-size: 16px;
            }
            &--title {
                margin-bottom: 20px;
            }
            &--text {
                margin-bottom: 40px;
            }
        }
        &__wrap {
            &--map {
                height: 526px;
                margin-right: 29px;
            }
        }
    }
    .footer {
        bottom: 35px;
        .copy {
            font-size: 12px;
        }
    }
    .content-mod {

        // .content-mod__wrap-top
        &__wrap {
            &-top {
                margin-top: 55px;
            }
        }

        // .content-mod__top-title
        &__top {
            &-title {
                font-size: 36px;
                margin-bottom: 24px;
            }

            // .content-mod__top-text
            &-text {
                font-size: 24px;
            }

            // .content-mod__top-back
            &-back {
                top: 57px;
                svg {
                    width: 40px;
                }
            }
        }

        // .content-mod__main
        &__main {

            // .content-mod__main-wrap--img
            &-wrap {
                &-img {}

                // .content-mod__main-wrap--list
                &-list {
                    margin-bottom: 36px;
                }
            }

            // .content-mod__main-list
            &-list {
                &__item {}
            }

            // .content-mod__main--text
            &-text {
                font-size: 16px;
            }

            // .content-mod__main-copy
            &-copy {
                position: absolute;
                bottom: 0;
                right: 13%;
            }
        }
    }
    .modal-call {
        &__form {
            padding-top: 122px;
        }
        &__text {
            margin-top: 20px;
            font-size: em(18);
            margin-bottom: 37px;
        }
        &__input {
            &:first-child {
                margin-bottom: 59px;
            }
        }
        &__btn {
            margin-top: 111px;
        }
        &__success {
            &_ico {
                width: 287px;
                height: 287px;
            }
            &_wrap {
                margin-top: 58px;
            }
            &_title {
                margin-bottom: 21px;
            }
            &_text {
                font-size: 18px;
            }
        }
    }
    .close-call {
        top: 0;
        width: 30px;
        height: 30px;
    }
    .propose-slide {
        height: 518px;
    }
    .swiper-container-product {
        height: 683px;
        &.nav-slider {
            height: 683px;
        }
    }
}