@media screen and (max-width:376px) {
    .sect-6 {
        .wrapper-sect {
            .about {
                margin-top: 100px;
                .title {
                    margin-bottom: 25px;
                }
                &__wrap--text {
                    margin-top: 25px;
                }
            }
        }
    }
    .sect-3 {
        .wrapper-sect {
            .title {
                br {
                    display: block;
                }
            }
        }
    }
    .swiper-pagination {
        left: 158px;
    }
}