@media screen and (max-width:810px) {
    body {
        font: 16px Gilroy-regular,
            sans-serif;
    }
    .menu {
        &__wrap {
            width: 294px;
            top: -24px;
        }
        &__link {
            font-size: em(30);
        }
    }
    .container {
        &--sect {
            &-sliers {
                display: block;
                .wrapper-sect {
                    padding: 0;
                    margin-left: 25px !important;
                }
            }
        } 
    }
    .sect-2, .sect-4 {
        .container {
            &--sect {
                &-sliers {
                    .wrapper-sect {
                        .title {
                            margin-top: 280px;
                            margin-bottom: 63px;
                        }
                    }
                }
            }
        }
    }
    .sect-4 {
        .container {
            &--sect {
                &-sliers {
                    .wrapper-sect {
                        .title {
                            margin-top: 228px;
                            margin-bottom: 57px;
                        }
                    }
                }
            }
        }
    }
    .sect-5 {
        .container {
            &--sect {
                &-sliers {
                    .wrapper-sect {
                        .title {
                            margin-top: 318px;
                            margin-bottom: 60px;
                        }
                    }
                }
            }
        }
    }
    .sect-6 {
        .container {
            &--sect {
                &-about {
                    .wrapper-sect {
                        width: grid(719, 768);
                        margin-top: 211px;
                        margin-left: 25px;
                        margin-right: 25px;
                        .title {
                            margin-bottom: 53px;
                        }
                    }
                }
            }
        }
    }
    .sect-7 {
        .container--sect-contact {
            .wrapper-sect {
                margin-top: 144px;
                margin-left: 25px;
                margin-right: 25px;
                width: grid(719, 768);

                .title {
                    margin-bottom: 35px;
                }
            }
        }
    }
    .sect-3 {
        .container {
            &--sect {
                &-sliers {
                    .wrapper-sect {
                        margin-right: 25px;
                        width: grid(719, 768);
                        .title {
                            margin-top: 210px;
                            width: 490px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .container {
        &--sect {
            .title {
                font-size: em(42);
                margin-bottom: 50px;
            }
        }
    }
    .offer {
        &__title {
            font-size: em(38);
        }
        &__text {
            font-size: em(22);
        }
    }
    .swiper-slide {
        &--1,
        &--2,
        &--3,
        &--4,
        &-1,
        &-2,
        &-3,
        &-4,
        &--5,
        &--6,
        &--7,
        &-5,
        &-6,
        &-7 {
            width: 630px;
            height: 432px;
        }
        &--5,
        &--6,
        &--7,
        &-5,
        &-6,
        &-7 {
            height: 355px;
        }
    }
    .advantage {
        justify-content: space-between;
        &__item {
            width: grid(358, 768);
            height: 157px;
            margin-bottom: 32px;
            &--4 {
                top: -251px;
            }
            &--5 {
                margin: 0 auto;
            }
        }
    }
    .propose {
        &-slide {
            width: 450px;
            height: 495px;
            margin-right: 32px !important;
        }
    }
    .sect-6 {
        .wrapper-sect {
            // width: 720px;
            // margin-right: 0;
            .title {
                margin-bottom: 30px;
            }
            .about__img--mob {
                width: 100%;
                height: auto;
                img {
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }
    .about__wrap--text {
        margin-top: 29px;
        width: 94%;
    }
    .about__text {
        font-size: 14px;
    }
    .modal-call {
        width: grid(632, 720);
    }
    .close-call {
        width: 30px;
        height: 30px;
    }
    .modals__wrapper {
        padding-left: 25px;
        padding-right: 25px;
    }
    .content-mod {
        margin-top: 127px;
        &__main-wrap-img {
            height: 265px;
            img {
                display: inline-block;
                width: 100%;
                height: 100%;
            }
        }
        &__wrap {
            &-top {
                margin-bottom: 23px;
            }
        }
        &__top-title {
            font-size: em(32);
            margin-bottom: 14px;
        }
        &__top-text {
            font-size: em(20);
        }
        &__main-list__item,
        &__main-text,
        &__main-copy {
            font-size: em(12);
        }
        &__main-text {
            margin-bottom: 5px;
        }
        &__main-wrap-right {
            margin-top: 17px;
            width: grid(680, 760);
        }
    }
    .contact {
        &__wrap--map {
            height: 333px;
            margin-top: -30px;
        }
        &__item {
            &--text {
                &-1 {
                    width: 367px;
                    margin-bottom: 22px;
                }
            }
            &--title {
                &-1 {
                    margin-bottom: 11px;
                }
                &-2, &-3, &-4 {
                    margin-bottom: 14px;
                }
            }
            &--title, &--text {
                font-size: em(14);
            }
        }
    }
    .content-mod__4 {
        margin-left: 32px;
    }
}
@media screen and (min-height:767px) and (max-height:767px) and (orientation: landscape) {
    .menu__wrap {
        left: -32px;
    }
    .swiper-pagination {
        left: 138px;
    }
    
    .content-mod__4 {
        margin-left: 32px;
    }
    .container--nav {
        // padding: 26px 152px;
        padding-bottom: 0;
    }
    .swiper-slide {
        &--1,
        &--2,
        &--3,
        &--4,
        &-1,
        &-2,
        &-3,
        &-4,
        &--5,
        &--6,
        &--7,
        &-5,
        &-6,
        &-7 {
            width: 530px;
            height: 400px;
        }
        &--5,
        &--6,
        &--7,
        &-5,
        &-6,
        &-7 {
            height: 355px;
        }
    }
    .sect-2, .sect-3, .sect-4, .sect-5, .sect-6, .sect-7 {
        .container--sect {
            .wrapper-sect {
                .title {
                    font-size: em(35);
                }
            }
        }
    }
    .sect-2 {
        .container--sect {
            .wrapper-sect {
                // margin-left: 152px;
                .title {
                    margin-top: 90px;
                    margin-bottom: 40px;
                }
            }
        }
    }
    .sect-3 {
        .container--sect {
            .wrapper-sect {
                .title {
                    width: 360px;
                    margin-top: 80px;
                    margin-bottom: 23px;
                }
            }
        }
    }
    .sect-4 {
        .container--sect {
            .wrapper-sect {
                .title {
                    width: 470px;
                    margin-top: 110px;
                    margin-bottom: 23px;
                }
            }
        }
    }
    .sect-5 {
        .container--sect {
            .wrapper-sect {
                .title {
                    width: 500px;
                    margin-top: 100px;
                    margin-bottom: 30px;
                }
            }
        }
    }
    .sect-6 {
        .container--sect {
            .wrapper-sect {
                width: grid(960, 1024);
                margin-top: 0;
                .title {
                    margin-top: 145px;
                    margin-bottom: 22px;
                }
            }
        }
    }
    .propose {
        &-slide {
            width: 410px;
            height: 457px;
        }
        &__item {
            width: inherit;
            height: inherit;
        }
    }
    .contact {
        flex-direction: inherit;
        &__item {
            &--text, &--title {
                font-size: em(12);
            }
            &--title {
                margin-bottom: em(12);
            }
            &--text {
                margin-bottom: 25px;
                &-1 {
                    width: 315px;
                }
            }
        }
        &__wrap--map {
            height: 209px;
            width: grid(600, 960);
            margin-top: 70px;
        }
        &__wrap--left {
            width: grid(356, 960);
        }
        // &__wrap--map {
        //     position: absolute;
        //     right: 0;
        //     top: 122px;
        //     width: 524px;
        //     height: 209px;
        // }
    }
    .footer {
        left: 32px;
    }
    .about {
         &__img--mob {
             background-color: transparent;
             background-position: center center;
             background-size: cover;
             background-image: url(../img/about.jpg);
            height: 320px;
             img {
                 display: none;
             }
         }
        &__wrap--text {
            width: grid(693, 960);
        }
        &__text {
            font-size: em(12);
        }
    }
    .advantage {
        &__item {
            margin-top: 0;
            height: 144px;
            &--4 {
                top: -144px;
            }
        }
    }
    
    .content-mod__main-wrap-img {
        width: 450px;
        height: 340px;
        img {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }
    
    .modals__wrapper {
        // padding: 153px 152px;
        padding-bottom: 0;
    }
    .content-mod {
        &__wrap {
            &-top {
                margin-bottom: 16px;
            }
        }
        &__top {
            &-title {
                font-size: em(32);
                margin-bottom: 12px;
            }
            &-text {
                font-size: em(20);
            }
        }
        &__main {
            display: grid;
            &-wrap {
                &-right {
                    margin: 0;
                    width: auto;
                }
            }
            &-list__item,
            &-text,
            &-copy {
                font-size: em(14);
            }
        }
    }
}