    @media screen and (max-width:1200px) {
        .offer {
            width: 800px;
        }
    }
    @media screen and (max-width:1155px) {
        .advantage {
            &__item {
                padding-left: 10px;
                margin-right: 100px;
                &--3,
                &--5 {
                    margin-right: 0;
                }
            }
        }
    }
    @media screen and (max-width:1025px) {
        body {
            font: 16px Gilroy-regular,
                sans-serif;
        }
        .swiper-container-product {
            height: 583px;
            &.nav-slider {
                height: 583px;
            }
        }
        .sect-1 {
            img {
                width: auto;
            }
        }
        .sect-3 {
            .wrapper-sect {
                width: 100%;
                padding-left: 32px;
                padding-right: 32px;
                .title {
                    width: 590px;
                }
            }
        }
        .sect-4 {
            .wrapper-sect {
                margin-left: 32px !important;
                padding-left: 0;
                padding-right: 0;
                .slider__wrap--btn {
                    display: none;
                }
            }
        }
        .sect-5, .sect-4 {
            .wrapper-sect {
                .title {
                    width: 560px;
                }
            }
        }
        .sect-6, .sect-7 {
            .container--sect-about,
            .container--sect-contact {
                display: block;
                .wrapper-sect {
                    margin-top: 283px;
                    .title {
                        margin-bottom: 47px;
                    }
                }
            }
        }
        .sect-6 {
            .container--sect-about {
                .wrapper-sect {
                    margin-top: 150px;
                }
            }
        }
        .sect-7 {
            .container--sect-contact {
                .wrapper-sect {
                    margin-top: 202px;
                    margin-left: 32px;
                    margin-right: 32px;
                    width: 93.5%;
                    .title {
                        margin-bottom: 35px;
                    }
                }
            }
        }
        .sect-3 {
            .container--sect {
                .wrapper-sect {
                    .title {
                        margin-top: 120px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .container {
            &--sect {
                .title {
                    font-size: 48px;
                }
                &-sliers,
                &-third,
                &-about,
                &-contact {
                    .wrapper-sect {
                        margin-left: 32px;
                        margin-right: 32px;
                    }
                }
                &-contact {
                    .wrapper-sect {
                       width: 100%;
                    }
                }
                &-sliers,
                &-sliers_two,
                &-fouth {
                    .wrapper-sect {
                        margin-right: 0;
                    }
                }
                &-sliers,
                &-sliers_two,
                &-third,
                &-fouth,
                &-about,
                &-contact {
                    display: flex;
                    align-items: center;
                    .wrapper-sect {
                        margin-left: 32px;
                        .title {
                            margin-right: auto;
                            margin-top: 0;
                        }
                    }
                }
            }
            &--nav {
                padding-left: 32px;
                padding-right: 32px;
                padding-top: 26px;
                .cr-1 {
                    &--logo {
                        width: grid(720, 960);
                    }
                    &--call {
                        width: grid(120, 960);
                    }
                    .logo {
                        padding: 0;
                        width: 140px;
                        margin: 0 auto;
                        &__link {
                            width: inherit;
                        }
                        img {
                            display: inline-block;
                            width: inherit;
                        }
                    }
                }
                .cr-6 {
                    order: -1;
                    &--mob {
                        position: relative;
                        width: grid(120, 960);
                    }
                }
            }
        }
        .menu {
            display: flex;
            align-items: center;
            &-close {
                display: block;
                position: absolute;
                top: 26px;
                
                &__btn {
                    display: block;
                    width: 65px;
                    height: 65px;
                }
                svg {
                    width: inherit;
                    height: inherit;
                }
            }
            &-mob {
                display: block;
            }
            &__wrap {
                transition: all .5s ease;
                transform: translateX(-500px);
                display: flex;
                align-items: center;
                position: absolute;
                width: 400px;
                left: -32px;
                top: -26px;
                height: 100vh;
                z-index: 999;
                background-color: transparent;
                background-position: top center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-image: url(../img/bg/form/bg.jpg);
                padding-left: 32px;
                &:after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(22, 24, 29, 0.8);
                }
                &--inside {
                    flex-direction: column;
                    z-index: 1;
                }
            }
            &__item {
                width: 100%;
                height: auto;
                margin-bottom: 48px;
            }
            &__link {
                display: block;
                text-align: left;
                font-size: em(32);
            }
        }
        .call {
            padding: 0;
            &__btn {
                background-color: transparent;
                background-position: top center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-image: url(../img/svg/phone.svg);
                width: 65px;
                height: 65px;
                &::after {
                    display: none;
                }
                span {
                    display: none;
                }
            }
        }
        .square {
            border: 1px solid #9f7f5e;
            height: 65px;
            width: 65px;
            border-radius: 50%;
            display: block;
            margin-top: 5px;
            transform: rotate(45deg);
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            /* custom */
        }
        .square .burgerwrap {
            height: auto;
            width: 41.79px;
            transform: rotate(-45deg);
            // padding-left: 3px;
            // padding-top: 6px;


            -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            /* custom */
        }

        .square:focus {
            transform: rotate(135deg);
            border: 1px solid #fff;
        }

        .square:focus .burgerwrap {
            transform: rotate(-135deg)
        }

        .square span {
            height: 2.5px;
            width: 41.79px;
            background: #9f7f5e;
            display: block;
            // margin: 0 auto;
            margin-bottom: 6.5px;
            &:first-child,
            &:last-child {
                margin-left: 5px;
            }
            &:first-child,
            &:last-child,
            &:first-child:after,
            &:last-child:after {
                width: 32.5px;
            }
            &:last-child,
            &:last-child:after {
                margin-bottom: 0;
            }
            -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            /* custom */
        }

        .square span:after {
            content: "";
            height: 2.5px;
            width: 41.79px;
            position: absolute;
            background: #fff;
            left: -100px;
            display: block;
            margin: 0 auto;
            margin-bottom: 6.5px;

            -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            /* custom */
        }

        .square:focus span {
            margin-left: 110px;
            &:first-child, &:last-child {
                &::after {
                    left: 5px;
                }
            }
        }

        .square:focus span:after {
            left: 1px;
        }

        .square span:nth-of-type(1),
        .square span:nth-of-type(1):after {
            transition-delay: 0.1s;
        }

        .square span:nth-of-type(2),
        .square span:nth-of-type(2):after {
            transition-delay: 0.2s;
        }

        .square span:nth-of-type(3),
        .square span:nth-of-type(3):after {
            transition-delay: 0.3s;
        }
        .offer {
            width: 100%;
            margin-left: 32px;
            &__title {
                font-size: em(38);
            }
            &__text {
                font-size: em(25);
            }
        }
        .anchors,
        .slider__wrap--btn {
            display: none;
        }
        .swiper-slide {
            &--1,
            &--2,
            &--3,
            &--4,
            &-1,
            &-2,
            &-3,
            &-4,
            &--5,
            &--6,
            &--7,
            &-5,
            &-6,
            &-7 {
                width: 710px;
                height: 486px;
            }
            &--5,
            &--6,
            &--7,
            &-5,
            &-6,
            &-7 {
                height: 400px;
            }
        }
        .advantage {
            // justify-content: space-around;
            &__wrapper {
                flex-wrap: wrap;
                // flex-direction: column;
            }
            &__item {
                width: grid(373, 960);
                height: 135px;
                margin-right: 0;
                margin-top: 64px;
                &_text {
                    font-size: em(24);
                }
                &--1,
                &--2 {
                    margin-top: 0;
                }
                &--2 {
                    margin-left: auto;
                }
                &--4 {
                    position: absolute;
                    right: 0;
                    top: -199px;
                    &:hover {
                        position: absolute;
                    }
                }
                &--2,
                &--4,
                &--5 {
                    margin-right: 0;
                }
            }
        }
        .propose {
            overflow: hidden;
            &-slide {
                width: 470px;
                height: 518px;
            }
        }
        .about {
            margin-top: 0;
            padding-top: 0;
            .title {
                margin-bottom: 55px;
            }
            &__img--mob {
                display: block;
                width: 100%;
                height: auto;
                img {
                    display: inline-block;
                    width: 100%;
                }
            }
            &__text {
                font-size: em(16);
            }
            &__wrap {
                &--left {
                    width: 100%;
                }
                &--text {
                    margin-right: auto;
                    margin-top: 31px;
                    width: 77%;
                }
                &--img {
                    display: none;
                }
            }
        }
        .pg-active {
            .container {
                &--sect {
                    &-about {
                        .wrapper-sect {
                            .about__img--mob {
                                transition-duration: 1s;
                                transition-delay: 1s;
                            }
                            .about__text--1 {
                                transition-duration: 1.2s;
                                transition-delay: 1.5s;
                            }
                            .about__text--2 {
                                transition-duration: 1.4s;
                                transition-delay: 2s;
                            }
                            .about__text--3 {
                                transition-duration: 1.6s;
                                transition-delay: 2.5s;
                            }
                        }
                    }
                }
            }
        }
        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0;
            padding-top: 0;
            &__wrap {
                &--left, &--map {
                    width: 100%;
                }
            }
            &__item {
                &--title {
                    margin-bottom: 18px;
                }
                &-1 {
                    width: 410px;
                }
                &-1,
                &-2,
                &-3 {
                    margin-bottom: 30px;
                }
                &--text {
                    br {
                        display: none;
                    }
                }
            }
            &__wrap--map {
                margin-right: 0;
                height: 280px;
            }
        }
        .footer {
            left: 32px;
        }
        .modal-call__form {
            height: auto;
        }
        .modals {
            background-size: cover;
            &__wrapper {
                padding-right: 32px;
                padding-left: 32px;
            }
        }
        .content-mod {
            padding: 0;
            margin-top: 105px;
            &__0 {
                .content-mod__main-wrap-img {
                    background-image: url(../img/serv/1.jpg);
                }
            }
            &__1 {
                .content-mod__main-wrap-img {
                    background-image: url(../img/serv/2.jpg);
                }
            }
            &__2 {
                .content-mod__main-wrap-img {
                    background-image: url(../img/serv/3.jpg);
                }
            }
            &__3 {
                .content-mod__main-wrap-img {
                    background-image: url(../img/serv/4.jpg);
                }
            }
            &__4 {
                margin-left: 32px;
            }
            &__top {
                &-title {
                    font-size: em(30);
                    margin-bottom: 15px;
                }
                &-text {
                    font-size: em(20);
                }
            }
            &__wrap {
                &-top {
                    margin-bottom: 30px !important;
                }
            }
            &__main {
                display: flex;
                flex-direction: column;
                &-list {
                    &__item {
                        font-size: em(14);
                        margin-bottom: 5px;
                    }
                }
                &-text {
                    font-size: em(14);
                }
                &-wrap {
                    &-list {
                        justify-content: space-around;
                        margin-bottom: 11px;
                    }
                    &-img {
                        width: 100%;
                        height: 280px;
                        background-color: transparent;
                        background-size: 100%;
                        background-position: center;
                        img {
                            display: none;
                            // height: 486px;
                        }
                    }
                    &-right {
                        padding: 0;
                        width: grid(840, 960);
                        margin: 0 auto;
                        margin-top: 27px;
                        // p {
                        //     width: 615px;
                        // }
                    }
                    &-copy {
                        margin-top: 49px;
                    }
                }
            }
        }
        .modal-call {
            width: grid(590, 960);
            &__form {
                
            }
        }
    }
    // @media screen and (min-height:1024px) and (max-height:1025px) and (orientation: landscape) {
    //     .slide_proj {
    //         .slide__title {
    //             margin-bottom: 0;
    //         }
    //     }
    //     .sect-2, .sect-3, .sect-4, .sect-5 {
    //         .container {
    //             &--sect {
    //                 &-sliers {
    //                     .wrapper-sect {
    //                         .title {
    //                             margin-top: 250px;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    //     .about, .contact {
    //         padding-top: 320px;
    //     }
    // }
    // @media screen and (min-height:1330px) and (max-height:1367px) and (orientation: landscape) {
    //     .swiper-container-product {
    //         height: 583px;

    //         &.nav-slider {
    //             height: 583px;
    //         }
    //     }
    // }