@media screen and (max-width:426px) {
    .offer__text {
        max-width: 450px;
        min-width: 340px;
    }
    .sect-1 {
        img {
            left: -300px;
        }
    }
    .content-mod__4 {
        margin-left: 7px;
        .content-mod__top-back {
            top: 0;
        }
    }
    .container--nav {
        padding-top: 7px;
    }
    body {
        font: 16px Gilroy-regular,
            sans-serif;
    }
    .swiper-product .content {
        width: 90%;
    }
    .swiper-product .content .caption {
        font-size: em(14);
    }
    .menu {
        &-close {
            &__btn {
                width: 32px;
                height: 32px;
            }
        }
        &__wrap {
            width: 375px;
            top: -2px;
            left: -8px;
        }
        &__link {
            font-size: em(22);
        }
    }
    .container {
        &--sect {
            .title {
                font-size: em(26);
            }
            &-sliers {
                .wrapper-sect {
                    margin-left: 7px;
                }
            }
        }
    }
    .container {
        &--nav {
            padding-top: 7px;
            .cr-1 {
                .logo {
                    width: 90px;
                }
            }
        }
    }
    .swiper-pagination {
        display: block;
    }
    .sect-2,
    .sect-3,
    .sect-4,
    .sect-5,
    .sect-6,
    .sect-7 {
        .container--sect {
            .wrapper-sect {
                margin-left: 7px !important;
                margin-right: 7px !important;
            }
        }
    }
    .sect-2 {
        .container--sect {
            .wrapper-sect {
                .title {
                    margin-top: 239px;
                    width: 360px;
                    margin-bottom: 46px;
                    br {
                        display: none;
                    }
                }
            }
        }
    }
    .sect-3 {
        .container--sect {
            .wrapper-sect {
                padding: 0;
                width: 96%;
                .title {
                    margin-top: 105px;
                    margin-bottom: 34px;
                    width: 85%;
                    br {
                        display: none;
                    }
                }

            }
        }
    }
    .sect-4, .sect-5 {
        .container--sect {
            .wrapper-sect {
                .title {
                    width: 365px;
                    margin-top: 217px;
                    margin-bottom: 40px;
                }
            }
        }
    }
    .sect-5 {
        .container--sect {
            .wrapper-sect {
                .title {
                    margin-bottom: 49px;
                }
            }
        }
    }
    .sect-6 {
        .container--sect {
            .wrapper-sect {
                .title {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .sect-7 {
         .container {
            .wrapper-sect {
                margin-top: 155px;
                width: grid(360, 375);
                .title {
                    margin-bottom: 19px;
                }
             }
         }
    }
    .offer {
        margin-left: 7px;
        &__title {
            width: 100%;
            font-size: em(26);
            margin-bottom: 18px;
            br {
                display: none;
            }
        }
        &__text {
            width: 305px;
            margin-bottom: 18px;
            font-size: em(14);
            &--last {
                margin-bottom: 32px;
            }
        }
    }
    .container {
        &--nav {
            padding-left: 7px;
            padding-right: 7px;
        }
    }
    .square,
    .call__btn {
        width: 35px;
        height: 35px;
    }
    .square .burgerwrap {
        width: 20.57px;
    }
    .square span {
        width: 20.57px;
        height: 1.14px;
        margin-bottom: 3.5px;
        &:first-child,
        &:last-child,
        &:first-child:after,
        &:last-child:after {
            width: 16px;
        }
        &:first-child,
        &:last-child {
            margin-left: 3px;
        }
        &:after {
            width: 20.57px;
            height: 1.14px;
            margin-bottom: 3.5px;
        }
    }
    .square:focus span {
        margin-left: 110px;

        &:first-child,
        &:last-child {
            &::after {
                left: 2px;
            }
        }
    }
    .slide__btn {
        cursor: pointer !important;
    }
    .square:focus span:after {
        left: -1px;
    }
    .swiper-slide {
        cursor:pointer;
        &--1,
        &--2,
        &--3,
        &--4,
        &-1,
        &-2,
        &-3,
        &-4,
        &--5,
        &--6,
        &--7,
        &-5,
        &-6,
        &-7 {
            width: 304px;
            height: 283px;
        }
        &--5,
        &--6,
        &--7,
        &-5,
        &-6,
        &-7 {
            height: 283px;
        }
        &--5,
        &--6,
        &--7 {
            background-size: cover;
        }
    }
    .slide {
        &:hover .slide__main {
            height: 78.7449%;
        }
        &__title {
            font-size: em(16);
        }
        &__text {
            font-size: em(14);
            text-align: center;
        }
        &__hov-wrap {
            display: none;
        }
    }
    .modal-call {
        width: 100%;
        &__form {
            width: grid(316, 375);
        }
    }
    .close-call {
        width: 30px;
        height: 30px;
    }
    .modals {
        &__wrapper {
            padding: 0 7px;
        }
    }
    .modal-call__input {
        border-radius: none;
    }
    .content-mod {
        margin-top: 80px;
        &__wrap-top {
            margin-bottom: 15px !important;
        }
        &__top-title {
            font-size: em(23);
            margin-bottom: 10px;
        }
        &__top-back {
            right: 1.73958%;
        }
        &__top-text {
            font-size: em(16);
        }
        &__main {
            &-wrap-list {
                display: none;
            }
            &-wrap-img {
                height: 179px;
                img {
                    height: 100%;
                }
            }
            &-wrap-right {
                width: 100%;
                margin-right: 10px;
                margin-top: 20px;
            }
            &-text {
                font-size: em(11);
            }
            &-copy {
                font-size: em(11);
            }
        }
    }
    .sect-3 {
        .wrapper-sect {
            margin-left: 25px;
            margin-right: 25px;
        }
        .title {
            margin-bottom: 20px;
        }
    }
    .sect-3 {
        .wrapper-sect {
            padding: 0 25px;
        }
    }
    .advantage {
        width: 100%;
        &__wrap {
            flex-direction: inherit;
            overflow: hidden;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            width: 100% !important;
        }
        &__item {
            // display: flex;
            margin: 0;
            width: grid(328, 360);
            height: 100px;
            margin-bottom: 20px;
            padding-left: 45px;
            &_ico {
                width: 50px;
                height: 55px;
                svg {
                    width: inherit;
                    height: inherit;
                }
            }
            &--3 {
                margin-bottom: 0;
            }
            &--4,
            &--5 {
                margin-top: 0;
                margin-bottom: 20px;
            }
            &--4 {
                position: relative;
                &:hover {
                    position: relative;
                }
                top: 0;
            }
            // &--4,
            // &--5 {
            //     display: none;
            // }
            &_text {
                font-size: em(20);
            }
        }
    }
    .propose-slide {
        width: 280px;
        height: 380px;
    }
    .propose__title {
        font-size: em(16);
    }
    .content-mod__top-back {
        top: -25px;
    }
    .sect-6 {
        .container--sect-about {
            .wrapper-sect {
                margin-top: 120px;
            }
        }
        .wrapper-sect {
            margin-left: 7px !important;
            margin-right: 7px !important;
            width: grid(360, 375);
            .title {
                margin-bottom: 49px;
            }
            .about {
                // .title {
                //     margin-bottom: 10px;
                // }
                &__img--mob {
                    height: auto;
                }
                &__wrap--text {
                    width: 100%;
                    margin-top: 14px;
                    margin-right: 0;
                    font-size: em(12);    
                }
                &__text {
                    font-size: em(12);
                }
            }
        }
    }
    .sect-4 {
        .wrapper-sect {
            margin-left: 7px !important;
        }
    }
    .contact {
        &__item {
            &--title, &--text {
                font-size: em(12);
            }
            &-4 {
            }
            &__social-link {
                width: 20px;
                height: 20px;
                svg {
                    width: inherit;
                    height: inherit;
                }
            }
            &__wrap--map {
                width: 100%;
            }
            &--title {
                &-2,
                &-3 {
                    margin-bottom: 8px;
                }
                &-4 {
                    margin-bottom: 13px;
                }
            }
            &--text {
                &-1 {
                    width: 307px;
                    margin-bottom: 19px;
                }
                &-2 {
                    margin-bottom: 17px;
                }
                &-3 {
                    margin-bottom: 16px;
                }
            }
        }
    }
    .contact__wrap--map {
        width: 100%;
        height: 165px;
        margin-right: 0;
    }
    .footer {
        left: 7px;
        bottom: 57px;
        width: 290px;
    }
    .copy {
        &__weWillFuckYourMom,
        &__name {
            font-size: em(12);
        }
    }
    .swiper-pagination {
        left: 138px !important;
        bottom: -60px;
    }
    .contact__wrap--map {
        display: none;
    }
    .propose {
        &__item {
            &:hover {
                .propose__main {
                    height: 25.9768%;
                }
            }
        }
        &__list {
            padding: 0 7.1915%;
        }
    }
    .swiper-container-product {
        height: 500px;
        &.nav-slider {
            height: 500px;
        }
    }
    .slider {
        margin-left: 7px;
    }
    .container {

        // display: grid;
        &--sect {

            &-one {

                .offer {

                    &__title,
                    &__text,
                    &__text--last,
                    &__btn {
                        transition: all .5s ease;
                    }
                }
            }

            &-sliers,
            &-third,
            &-fouth,
            &-about,
            &-contact {

                .copy__name,
                .copy__weWillFuckYourMom {
                    transition: all .3s ease-in-out;
                }

                .wrapper-sect {

                    .title,
                    .propose__item,
                    .swiper-button-prev,
                    .swiper-button-next,
                    .advantage__wrappers,
                    .about__text--1,
                    .about__text--2,
                    .about__text--3,
                    .about__wrap--img,
                    .about__img--mob,
                    .contact__wrap--map,
                    .contact__item-1,
                    .contact__item-2,
                    .contact__item-3,
                    .contact__item-4,
                    .contact__item-4-1,
                    .contact__item-4-2,
                    .contact__item-4-3,
                    .copy__name,
                    .copy__weWillFuckYourMom,
                    .swiper-slide--1,
                    .swiper-slide--5,
                    .swiper-slide--2,
                    .swiper-slide--6,
                    .swiper-slide--3,
                    .swiper-slide--7,
                    .swiper-slide--4 {
                        transition: all .3s ease;
                    }

                    .about__wrap--img,
                    .contact__wrap--map {
                        opacity: 0;
                        transition: all .3s ease;
                    }
                }
            }
        }
    }
}
@media screen and (max-height:736px) and (max-width:426px) {
    .sect-5, .sect-4, .sect-2 {
        .container--sect-sliers {
            .wrapper-sect {
                .title {
                    margin-top: 120px;
                }
            }
        }
    }
    .sect-6 {
        .container--sect-sliers {
            .wrapper-sect {
                .title {
                    margin-top: 130px;
                }
            }
        }
    }
}
@media screen and (min-height:735px) and (max-height:750px){
    .footer {
        bottom: 11px;
    }
    .advantage {
        &__item {
            height: 104px;
        }
    }
}