// ======================== Nav Top ================
.navigation {
    position: absolute;
    top: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    padding-top: 4px;
}
.logo {
    padding-left: 43px;
		&__link {
            display: inline-block;
            width: 100px;
            img {
                display: inline-block;
                width: inherit;
            }
		}
}
.menu {
    height: 100%;
        &__wrap {
            @extend .df;
            height: 100%;
            &--inside {
                @extend .df;
                width: 100%;
            }
        }
        &-mob {
            display: none;
        }
		// .menu__item
		&__item {
            width: calc(100% / 5);
            height: 100%;
		}
		// .menu__link
		&__link {
            @extend .df;
            @extend .jcc;
            @extend .aic;
            @extend .b-20;
            @extend .tac;
            width: 100%;
            height: 100%;
            color: $white;
            &:hover {
                color: $gold;
                text-shadow: 0px 0px 15px $gold;
            }
        }
        .active {
            color: $gold;
            text-shadow: 0px 0px 15px #D8B367;
        }
}
.menu-close__btn {
    display: none;
}
.call {
    @extend .df;
    @extend .aic;
    justify-content: flex-end;
    padding-right: 36px;
    height: 100%;
    &__btn {
        display: block;
        padding: 0 19px;
        @extend .b-n;
        @extend .m-16;
        background-color: transparent;
        color: $white;
        position: relative;
        &:after {
            transition: all .5s ease;
            position: absolute;
            left: 18px;
            bottom: -2px;
            content: '';
            display: block;
            width: 76%;
            height: 1px;
            background-color: $white;
        }
        &:hover {
            color: $gold;
            text-shadow: 0px 0px 15px rgba(216, 179, 103, 0.5);
            &:after {
                background-color: $gold;
            }
        }
    }
}
// ====================== Nav Left
.anchors {
    position: absolute;
    left: 5.67708333%;
    top: 0;
    width: 22px;
    height: 100vh;
    z-index: 9;
    @extend .df;
    @extend .fdc;
    @extend .jcc;
    // .anchors__item
    &__item {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    // .anchors__link
    &__link {
        display: block;
        width: 10px;
        height: 10px;
        background-color: $white;
        border-radius: 50%;
        margin: 0 auto;
        &:hover {
            background-color: $gold;
        }
    }
    .active {
        background-color: $gold;
        &.anchors__link--svg {
            background-color: transparent;
        }
    }
    // .anchors__link--svg
    &__link--svg {
        display: block;
        width: 22px;
        height: 12px;
        background-color: transparent;
        border: none;
        padding: 0;
        box-shadow: none !important;
        svg {
            width: 22px;
            height: 12px;
        }
        &:hover {
            .anchor-svg {
                fill: $gold;
            }
        }
    }
}

