.about {
    @extend .df !optional;
    // @extend .jcc !optional;
    @extend .aic !optional;
    // display: grid;
    // grid-auto-columns: grid(720, 1680) grid(960, 1680);
    padding-top: 180px;
    &__img--mob {
        display: none;
    }
    .title {
        margin-top: 0;
        margin-bottom: 40px;
        margin-right: auto;
    }
    &__text {
        @extend .regular !optional;
        font-size: em(15);
        margin-bottom: 13px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__wrap {
        &--left {
            width: grid(720, 1680);
            @extend .df !optional;
            flex-direction: column;
            @extend .aic !optional;
        }
        &--text {
            margin-right: 27px;
        }
        &--img {
            width: grid(960, 1680);
            img {
                display: inline-block;
                width: 100%;
            }
        }
    }
}