.propose {
    &__wrapper {
        @extend .df;
    }
    // .propose__item
    &-slide {
        width: grid(470, 1440);
        height: 400px;
        margin-right: 18px;
    }
    &__item {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        &:hover {
            &:after {
                background-color: rgba(22, 24, 29, 0.7);
            }
            .propose {
                &__main {
                    height: grid(176, 518);
                }
            }
        }
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(22, 24, 29, 0.5);
            transition: background-color .5s ease;
        }
        &:last-child {
            margin-right: 0;
        }
        &--1{
            background-image: url(../img/adv/1.jpg);
        }
        &--2{
            background-image: url(../img/adv/2.jpg);
        }
        &--3{
            background-image: url(../img/adv/3.jpg);
        }
    }
    &__main,
    &__hover {
        position: relative;
        z-index: 1;
    }
    // .propose__main
    &__main {
        width: 100%;
        height: 100%;
        @extend .df;
        @extend .jcc;
        @extend .aic;
        @extend .semibold;
        font-size: em(18);
        transition: height .5s ease;
    }
    // .propose__hover
    &__hover {
        width: 100%;
        @extend .df;
        @extend .jcc;
        @extend .aic;
    }
    // .propose__list
    &__list {
        // .propose__list_item
        padding: 0 18.1914894%;
        &_item {
            @extend .m-16;
            @extend .tac;
            &:first-child {
                padding-bottom: 12px;
            }
            &:last-child {
                padding-top: 12px;
            }
            &--center {
                padding: 12px 0;
                border: 1px solid $gold;
                border-left: none;
                border-right: none;
            }
            &--small {
                border-bottom: none;
            }
        }
    }
}
