$white: #fff;
$gold: #D8B367;
$black: #16181D;
.container--sect-contact {
    .wrapper-sect {
        position: relative;
    }
}
.contact {
    padding-top: 180px;
    display: grid;
    grid-template-columns: grid(480, 1680) grid(1200, 1680);
    .title {
        margin-top: 0;
        margin-bottom: 22px;
    }
    #map {
        width: 100%;
        height: 100%;
    }
    &__wrap {
        &--left {
            margin-top: 20px;
        }
        &--map {
            height: 363px;
            margin-right: 29px;
        }
    }
    &__item {
        &--title {
            @extend .r-16 !optional;
            margin-bottom: 10px;
            color: $gold;
        }
        &--text {
            @extend .bold !optional;
            display: inline-block;
            font-size: em(16);
            margin-bottom: 20px;
            color: $white;
        }
    }
    &__social {
        @extend .df !optional;
        &-item {
            margin-right: 20px;
        }
        &-link {
            display: inline-block;
            width: 25px;
            height: 25px;
            &:hover {
                svg {
                   path {
                        transition: fill .5s ease;
                        fill: $gold;
                   }
                }
            }
        }
    }
}
.map-title {
    color: #000;
    font-size: em(20);
    text-align: center;
}
.footer {
    position: absolute;
    left: grid(240);
    bottom: 15px;
    width: 352px;
    .copy {
        @extend .r-12 !optional;
        
        // .copy__name
        &__name {
            margin-bottom: 15px;
        }
        // .copy__weWillFuckYourMom
        &__weWillFuckYourMom {}
    }
}

