.sect-3 {
    .wrapper-sect {
        .title {
            br {
                display: none;
            }
        }
    }
}
.advantage {
    @extend .df;
    flex-wrap: wrap;
    @extend .jcc;
    .swiper-wrapper,
    .swiper-container {
        overflow: visible;
    }
    &__wrap {
        @extend .df;
        @extend .fdc;
        .swiper-slide {
            overflow: visible;
            &:hover {
                box-shadow: none !important;
            }
        }
    }
    &__wrapper, &__wrappers {
        @extend .df;
        @extend .aic;
        &--two {
            @extend .jcc;
        }
    }
    // .advantage__item
    &__item {
        @extend .df;
        @extend .aic;
        width: grid(373, 1440);
        margin-right: 114px;
        height: 130px;
        border: 1px solid transparent;
        border-radius: 5px;
        
        background-color: transparent;
        &:hover {
            transition: box-shadow .5s ease;
            // position: relative;
            // z-index: 1;
            box-shadow: 0px 0px 15px $gold;
            color: $gold;
            .advantage {
                &__item {
                    &_ico {
                        svg {
                            path {
                                fill: $gold;
                            }
                        }
                    }
                }
            }
        }
        &_ico {
            svg {
                path {
                    transition: all .5s ease;
                }
            }
        }
        // .advantage__item_ico
        &--1 {
            padding-left: 35px;
        }
        &--2 {
            padding-left: 39px;
        }
        &--3 {
            padding-left: 31px;
        }
        &--4 {
            padding-left: 27px;
        }
        &--5 {
            padding-left: 13px;
        }
        &--3,
        &--5 {
            margin-right: 0;
        }
        &--4,
        &--5 {
            margin-top: 90px;
        }
        // .advantage__item_text
        &_text {
            @extend .medium;
            font-size: em(18);
            margin-left: 20px;
            transition: color .5s ease;
        }
    }
}
