@import 'swiper';
$body-bg: #16181D;
$bg: #16181D;
$white: #fff;
$gold: #D8B367;
$black: #16181D;
@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65, 0, .076, 1)) {
    transition: $property $duration $ease;
}
.slider {
    width: 100%;
    margin-left: 20px;
}
.slider {

    // .slider__wrap--btn

    &__wrap--btn {
        position: absolute;
        right: 24px;
        top: -90px;
        width: 120px;
        height: 46px;
        button {
            display: inline-block;
        }
    }
    &-btn-wrapper {
        width: 38px;
        height: 38px;
        background-color:transparent;
        border: none;
        &:last-child {
            margin-left: 15px;
        }
        svg {
            width: inherit;
            height: inherit;
        }
        &:hover {
            svg {
                path {
                    transition: all .5s ease;
                    fill: $gold;
                }
            }
        }
    }
}
.slide,
.propose,
.swiper-cont {
    margin-bottom: 10px;
}
.slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(22, 24, 29, .5);
    border-radius: 5px;
    &:hover {
        .slide {
             &__main {
                 height: grid(164, 486);
             }
        }
    }
    &__main {
        width: 100%;
        height: 100%;
        transition: height .5s ease;
        @extend .df !optional;
        @extend .fdc !optional;
        @extend .jcc !optional;
        @extend .aic !optional;
    }
    &__title {
        @extend .s-30 !optional;
        margin-bottom: 15px;
    }
    &__text {
        @extend .medium !optional;
        font-size: em(20);
    }
    &__hover {
        width: 100%;
        @extend .df !optional;
        @extend .fdc !optional;
        // @extend .jcc !optional;
        justify-content: space-around;
        // align-items: center;
    }
    &__hov {
        &-wrap {
            // margin-top: 20px;
            margin-bottom: 22px;
            @extend .df !optional;
            // @extend .jcc !optional;
            justify-content: space-around;
        }
        &-list {
            &:first-child {
                // margin-right: 15px;
            }
            &:last-child {
                // margin-left: 30px;
            }
        }
        &-item {
            @extend .regular !optional;
            font-size: em(15);
            line-height: 28px;
            position: relative;
            &:after {
                position: absolute;
                left: -15px;
                top: 50%;
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                margin-top: -5px;
                border: 2px solid $gold;
                transform: rotate(-45deg);
                box-shadow: 0px 0px 15px #D8B367;
            }
        }
    }
    &__btn {
        position: relative;
        width: 170px;
        height: auto;
        margin: 0 auto;
        .circle {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
            position: relative;
            // margin-left: 26px;
            margin-top: 6px;
            width: 30px;
            height: 30px;
            background-color: transparent;
            border: 1px solid $white;
            border-radius: 1.625rem;
            .icon {
                @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                background: $white;
                &.arrow {
                    @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
                    left: 0;
                    width: 1.125rem;
                    height: 0.08rem;
                    background: none;
                    &::before {
                        position: absolute;
                        content: '';
                        top: -0.29rem;
                        right: .001rem;
                        width: 0.625rem;
                        height: 0.625rem;
                        border-top: 0.01rem solid #fff;
                        border-right: 0.01rem solid #fff;
                        transform: rotate(45deg);
                    }
                }
            }
        }
        .button-text {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
            position: absolute;
            top: 0;
            left: 12px;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            color: $white;
            @extend .m-16 !optional;
            line-height: 1.4;
            text-align: center;
            text-transform: none;
        }
        &:hover {
            .circle {
                width: 100%;
                background-color: $gold;
                border-color: transparent;
                .icon {
                    &.arrow {
                        background: $white;
                        transform: translate(1rem, 0);
                    }
                }
            }
        }
    }
}
// For slide Projects
.shadow {
    
}
.swiper-slide--proj {
    &:hover {
        cursor: pointer;
        .slide {
            &__main {
                height: 70%;
            }
            &__hover {
                @extend .df;
                @extend .jcc;
                @extend .aic;
            }
        }
    }
}






