.swiper-container {
  margin: 0 auto;
  position: relative;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  &:hover {
    transition: box-shadow .3s ease;
    box-shadow: 0px 0px 15px rgba(216, 179, 103, 0.5);
  }
  &-1,
  &-2,
  &-3,
  &-4,
  &-5,
  &-6,
  &-7 {
    margin-right: 30px;
  }
  &--1,
  &--2,
  &--3,
  &--4,
  &--proj,
  &--5,
  &--6,
  &--7 {
     background-color: transparent;
     background-position: top center;
     background-repeat: no-repeat;
     background-size: 100% 100%;
    width: 500px;
    height: 342px;
  }
  &--1 {
    background-image: url(../img/serv/1.jpg);
  }

  &--2 {
    background-image: url(../img/serv/2.jpg);
  }

  &--3 {
    background-image: url(../img/serv/3.jpg);
  }

  &--4 {
    background-image: url(../img/serv/4.jpg);
  }
  &--proj,
  &--5,
  &--6,
  &--7 {
    background-color: transparent;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 282px;
  }
  &--5 {
    background-image: url(../img/proj/1.jpg);
  }
  &--6 {
    background-image: url(../img/proj/2.jpg);
  }
  &--7 {
    background-image: url(../img/proj/3.jpg);
  }
}

.swiper-pagination {
  position: absolute;
  bottom: -32px;
  left: 149px;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
  display: none;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 100%;
  background: $white;
  transition: all .5s ease;
  opacity: 1;
  margin: 0 10px;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: $gold;
  box-shadow: 0px 0px 15px #FFAC00,
  0px 0px 4px #FFFFFF;
}
