@import 'mixins';
@import 'colors';
@import 'fonts';
@import 'reset';
@import 'classes';
@import 'grid';
// @import 'fullpage';
@import 'navigation';
.menu__wrap__active {
    transform: translateX(0) !important;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 24, 29, .1);
    transition: background-color .5s ease;
}
.show {
    z-index: 99;
    background-color: rgba(22, 24, 29, .5);
}
@keyframes bg-animation {
    from {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    to {
       -moz-transform: scale(1.1);
       -webkit-transform: scale(1.1);
       -o-transform: scale(1.1);
       transform: scale(1.1);
    }
}
.sect {
    &-1,&-2,
    &-3,&-4,
    &-5,&-6,
    &-7 {
        height: 500px;
        background-position: top center;
        background-size: cover;
    }
    &-1{
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
            animation: bg-animation 5s ease infinite alternate none;
        }
    }
    &-2{
        background-image: url(../img/bg/2.jpg);
    }
    &-3{
        background-image: url(../img/bg/3.jpg);
    }
    &-4{
        background-image: url(../img/bg/4.jpg);
    }
    &-5{
        background-image: url(../img/bg/5.jpg);
    }
    &-6{
        background-image: url(../img/bg/6.jpg);
    }
    &-7{
        background-image: url(../img/bg/7.jpg);
    }
}

.title {
    @extend .semibold;
    color: $gold;
    margin-top: 120px;
    margin-bottom: 60px;
    font-size: em(35);
    letter-spacing: 0.02em;
}
.sect-4, .sect-3 {
    .wrapper-sect {
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding-left: grid(240);
        padding-right: grid(240);

        .slider__wrap--btn {
            display: none;
        }
    }
}
.sect-3 {
    .wrapper-sect {
        overflow: visible !important;
    }
}
.container {
    &--sect {
        overflow: hidden;
        .wrapper-sect {
            margin-left: grid(240);
        }
        &-sliers {
            .wrapper-sect {
                overflow: hidden;
            }
            &_two {
                .title {
                    margin-top: 150px;
                    margin-bottom: 80px;
                }
            }
        }
        &-third, &-fouth {
            .wrapper-sect {
                margin-right: grid(240);
            }
        }
        &-third, &-sliers_two {
            .wrapper-sect {
                .title {
                    margin-right: auto;
                }
                @extend .df;
                @extend .fdc;
                @extend .aic;
            }
        }
        &-about {
            .wrapper-sect {
                
            }
        }
    }
}
.ops-section {
    height: 100%;
}
@import 'screen1';
.sect-1 {
    position: relative;
    overflow: hidden;
}
.offer {
    position: relative;
}
.offer__title {
    color: $gold;
}
.offer__btn {
    cursor: pointer;
}
@import 'screen2';
@import 'screen3';
@import 'screen4';
@import 'screen6';
@import 'screen7';
@import 'modal-serv';
@import 'modal-call';
@import 'modal-proj';
@import 'media';
.swiper-new {
    overflow: hidden;
}
.swiper-proj {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}