<ul class="anchors">
    <li class="anchors__item anchors__item--prev">
        <button href="#" class="anchors__link--svg" data-scroll="prev">
            <svg width="24" height="13" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="anchor-svg" d="M23.0008 11.1111C22.9992 11.3722 22.8984 11.6327 22.6972 11.83C22.2975 12.226 21.6498 12.2222 21.2535 11.8214L12.0507 2.52615L2.73951 11.7116C2.33849 12.1062 1.69083 12.1024 1.29589 11.703C0.899589 11.3022 0.903421 10.6564 1.30445 10.2604L11.341 0.359981C11.742 -0.0360382 12.3883 -0.0322029 12.7846 0.368548L22.703 10.3874C22.9046 10.5884 23.0023 10.8501 23.0008 11.1111Z"
                    fill="white" fill-opacity="0.95" />
            </svg>
        </button>
    </li>
    <li class="anchors__item">
        <a href="#welcome" data-anchor="welcome" class="anchors__link"></a>
    </li>
    <li class="anchors__item">
        <a href="#service" data-anchor="service" class="anchors__link"></a>
    </li>
    <li class="anchors__item">
        <a href="#advantages" data-anchor="advantages" class="anchors__link"></a>
    </li>
    <li class="anchors__item">
        <a href="#offer" data-anchor="offer" class="anchors__link"></a>
    </li>
    <li class="anchors__item">
        <a href="#projects" data-anchor="projects" class="anchors__link"></a>
    </li>
    <li class="anchors__item">
        <a href="#about-us" data-anchor="about-us" class="anchors__link"></a>
    </li>
    <li class="anchors__item">
        <a href="#contact-us" data-anchor="contact-us" class="anchors__link"></a>
    </li>
    <li class="anchors__item anchors__item--next">
        <button href="#" class="anchors__link--svg" data-scroll="next">
            <svg width="24" height="13" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="anchor-svg" d="M0.00652915 1.1516C0.00495872 0.890544 0.102716 0.628892 0.301534 0.429176C0.696438 0.0284024 1.3441 0.0245064 1.74515 0.420492L11.0584 9.60513L20.2592 0.309118C20.6555 -0.0903041 21.3031 -0.0942002 21.7028 0.300434C22.1039 0.69642 22.1077 1.34226 21.7115 1.74304L11.7939 11.7627C11.3977 12.1634 10.7514 12.1673 10.3503 11.7713L0.312932 1.87177C0.108995 1.67312 0.00809957 1.41266 0.00652915 1.1516Z"
                    fill="white" />
            </svg>
        </button>
    </li>
</ul>
<!-- /.anchors -->