<div class="content-mod content-mod__4">
    <div class="content-mod__wrap-top">
        <div class="content-mod__top-title">Name project</div>
        <!-- /.content-mod__top-title -->
        <!-- <div class="content-mod__top-text">Создаем атмосферу, в которой хочется жить</div> -->
        <!-- /.content-mod__top-text -->
        <button class="content-mod__top-back">
            <svg class="close-btn" width="40" height="28" viewBox="0 0 40 28" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M30.0651 8.10385C30.0105 8.10385 2.82037 8.10385 2.82037 8.10385L8.54895 1.683C8.92043 1.26659 8.88403 0.627922 8.46762 0.256438C8.05137 -0.114968 7.41254 -0.0787176 7.04106 0.337766L0.589354 7.569C-0.196504 8.45009 -0.196425 9.77853 0.589432 10.6594L7.04114 17.8907C7.24083 18.1145 7.51747 18.2284 7.79536 18.2284C8.03473 18.2284 8.27496 18.1438 8.4677 17.972C8.8841 17.6005 8.92043 16.9619 8.54903 16.5455L2.82044 10.1245C2.82044 10.1245 30.0105 10.1245 30.0652 10.1245C34.4291 10.1245 37.9792 13.6749 37.9792 18.0386C37.9792 22.4023 34.429 25.9526 30.0652 25.9526H25.2542C24.6962 25.9526 24.2438 26.4051 24.2438 26.963C24.2438 27.521 24.6962 27.9734 25.2542 27.9734H30.0652C35.5433 27.9734 40 23.5167 40 18.0386C39.9999 12.5606 35.5432 8.10385 30.0651 8.10385Z"
                    fill="white" />
            </svg>
        </button>
        <!-- /.content-mod__top-back -->
    </div>
    <!-- /.content-mod__wrap-top -->
    <div class="swiper-container swiper-container-product main-slider loading">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-product">
                <figure class="slide-bgimg"
                    style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E)">
                    <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E"
                        class="entity-img" />
                </figure>
                <div class="content">
                    <p class="title">Shaun Matthews</p>
                    <span class="caption">Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book.</span>
                </div>
            </div>
            <div class="swiper-slide swiper-product">
                <figure class="slide-bgimg"
                    style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg)">
                    <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg"
                        class="entity-img" />
                </figure>
                <div class="content">
                    <p class="title">Alexis Berry</p>
                    <span class="caption">Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book.</span>
                </div>
            </div>
            <div class="swiper-slide swiper-product">
                <figure class="slide-bgimg"
                    style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s)">
                    <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s"
                        class="entity-img" />
                </figure>
                <div class="content">
                    <p class="title">Billie Pierce</p>
                    <span class="caption">Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book.</span>
                </div>
            </div>
            <div class="swiper-slide swiper-product">
                <figure class="slide-bgimg"
                    style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk)">
                    <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk"
                        class="entity-img" />
                </figure>
                <div class="content">
                    <p class="title">Trevor Copeland</p>
                    <span class="caption">Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book.</span>
                </div>
            </div>
            <div class="swiper-slide swiper-product">
                <figure class="slide-bgimg"
                    style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM)">
                    <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM"
                        class="entity-img" />
                </figure>
                <div class="content">
                    <p class="title">Bernadette Newman</p>
                    <span class="caption">Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book.</span>
                </div>
            </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev slider-btn-prev swiper-button-white"></div>
        <div class="swiper-button-next slider-btn-next swiper-button-white"></div>
    </div>

    <!-- Thumbnail navigation -->
    <div class="swiper-container swiper-container-product nav-slider loading">
        <div class="swiper-wrapper" role="navigation">
            <div class="swiper-slide swiper-product-nav">
                <figure class="slide-bgimg"
                    style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E)">
                    <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E"
                        class="entity-img" />
                </figure>
                <div class="content">
                    <p class="title">Shaun Matthews</p>
                </div>
            </div>
            <div class="swiper-slide swiper-product-nav">
                <figure class="slide-bgimg"
                    style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg)">
                    <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg"
                        class="entity-img" />
                </figure>
                <div class="content">
                    <p class="title">Alexis Berry</p>
                </div>
            </div>
            <div class="swiper-slide swiper-product-nav">
                <figure class="slide-bgimg"
                    style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s)">
                    <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s"
                        class="entity-img" />
                </figure>
                <div class="content">
                    <p class="title">Billie Pierce</p>
                </div>
            </div>
            <div class="swiper-slide swiper-product-nav">
                <figure class="slide-bgimg"
                    style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk)">
                    <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk"
                        class="entity-img" />
                </figure>
                <div class="content">
                    <p class="title">Trevor Copeland</p>
                </div>
            </div>
            <div class="swiper-slide swiper-product-nav">
                <figure class="slide-bgimg"
                    style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM)">
                    <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM"
                        class="entity-img" />
                </figure>
                <div class="content">
                    <p class="title">Bernadette Newman</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>