<div class="content-mod content-mod__1 ">
    <div class="content-mod__wrap-top">
        <div class="content-mod__top-title">Элитный ремонт коттеджей</div>
        <!-- /.content-mod__top-title -->
        <div class="content-mod__top-text">Создаем идеальное будущее для Вас</div>
        <!-- /.content-mod__top-text -->
        <button class="content-mod__top-back">
            <svg class="close-btn" width="40" height="28" viewBox="0 0 40 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M30.0651 8.10385C30.0105 8.10385 2.82037 8.10385 2.82037 8.10385L8.54895 1.683C8.92043 1.26659 8.88403 0.627922 8.46762 0.256438C8.05137 -0.114968 7.41254 -0.0787176 7.04106 0.337766L0.589354 7.569C-0.196504 8.45009 -0.196425 9.77853 0.589432 10.6594L7.04114 17.8907C7.24083 18.1145 7.51747 18.2284 7.79536 18.2284C8.03473 18.2284 8.27496 18.1438 8.4677 17.972C8.8841 17.6005 8.92043 16.9619 8.54903 16.5455L2.82044 10.1245C2.82044 10.1245 30.0105 10.1245 30.0652 10.1245C34.4291 10.1245 37.9792 13.6749 37.9792 18.0386C37.9792 22.4023 34.429 25.9526 30.0652 25.9526H25.2542C24.6962 25.9526 24.2438 26.4051 24.2438 26.963C24.2438 27.521 24.6962 27.9734 25.2542 27.9734H30.0652C35.5433 27.9734 40 23.5167 40 18.0386C39.9999 12.5606 35.5432 8.10385 30.0651 8.10385Z"
                    fill="white" />
            </svg>
        </button>
        <!-- /.content-mod__top-back -->
    </div>
    <!-- /.content-mod__wrap-top -->
    <div class="content-mod__main">
        <div class="content-mod__main-wrap-img">
            <img src="img/serv/2.jpg" alt="">
        </div>
        <!-- /.content-mod__main-wrap--img -->
        <div class="content-mod__main-wrap-right">
            <div class="content-mod__main-wrap-list">
                <ul class="content-mod__main-list content-mod__main-list__left">
                    <li class="content-mod__main-list__item">Эксклюзивный дизайн</li>
                    <!-- /.content-mod__main-list__item -->
                    <li class="content-mod__main-list__item">Люксовый материал</li>
                    <!-- /.content-mod__main-list__item -->
                    <li class="content-mod__main-list__item">Современные технологии</li>
                    <!-- /.content-mod__main-list__item -->
                    <li class="content-mod__main-list__item">Совершенство концепций</li>
                    <!-- /.content-mod__main-list__item -->
                    <li class="content-mod__main-list__item">Практичность в использовании</li>
                    <!-- /.content-mod__main-list__item -->
                </ul>
                <!-- /.content-mod__main-list -->
                <ul class="content-mod__main-list content-mod__main-list__right">
                    <li class="content-mod__main-list__item">Точность в деталях</li>
                    <!-- /.content-mod__main-list__item -->
                    <li class="content-mod__main-list__item">Правильность технологий</li>
                    <!-- /.content-mod__main-list__item -->
                    <li class="content-mod__main-list__item">Уникальность в решениях</li>
                    <!-- /.content-mod__main-list__item -->
                    <li class="content-mod__main-list__item">Высококлассные мастера</li>
                    <!-- /.content-mod__main-list__item -->
                </ul>
                <!-- /.content-mod__main-list -->
            </div>
            <!-- /.content-mod__main-wrap--list -->
            <p class="content-mod__main-text content-mod__main-text--one">Премиальный и элитный ремонт коттеджей несет в
                себе не только использование дорогих
                материалов, а главное - высочайшую квалификацию мастеров с большим опытом.</p>
            <!-- /.content-mod__main--text -->
            <p class="content-mod__main-text content-mod__main-text--two">В отличии от квартир, коттедж –
                самостоятельная независимая постройка со своими инженерными
                системами и микроклиматом, что требует особого опыта и квалификации.
                В своей работе, мы используем только современные технологии и идеи европейского уровня,
                для совершенного качества и точной реализации дизайн проекта.</p>
            <p class="content-mod__main-text content-mod__main-text--three">Штатные узкоспециализированные матера и
                специалисты компании «MAS Group», с опытом более
                10 лет, выполнят ремонт высочайшего уровня, даже для самого требовательного Заказчика.</p>
            <!-- /.content-mod__main--text -->
            <p class="content-mod__main-copy">&copy; «MAS Group» - эксперты элитного ремонта.</p>
            <!-- /.content-mod__main-copy -->
        </div>
        <!-- /.content-mod__main-wrap-right -->
    </div>
    <!-- /.content-mod__main -->
</div>
<!-- /.content-mod -->