<nav class="navigation">
    <div class="container container--nav">
        <div class="cr-1 cr-1--mob cr-1--logo">
            <div class="logo">
                <a data-index="1" href="#welcome" class="logo__link">
                    <img src="img/Logo.svg" alt="Логотип Mass Group">
                </a>
            </div>
        </div>
        <!-- /.cr-1 -->
        <div class="cr-6 cr-6--mob">
            <ul class="menu">
                <li class="menu-mob">
                    <button class="square">
                        <div class="burgerwrap">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                </li>
                <li class="menu__wrap">
                    <ul class="menu__wrap--inside">
                        <li class="menu-close">
                            <button class="menu-close__btn">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M25.6118 4.34367C19.7608 -1.44761 10.24 -1.44818 4.38845 4.34367C-1.46311 10.1355 -1.46253 19.5586 4.38845 25.3504C10.2394 31.1423 19.7602 31.1423 25.6118 25.3504C31.4627 19.5586 31.4627 10.135 25.6118 4.34367ZM20.918 20.7046C20.4673 21.1508 19.7365 21.1508 19.2857 20.7046L15.0001 16.4627L10.5107 20.9063C10.0599 21.3525 9.32921 21.3525 8.87842 20.9063C8.42764 20.4601 8.42764 19.7368 8.87842 19.2906L13.3678 14.847L9.08217 10.6051C8.63138 10.1589 8.63138 9.43511 9.08217 8.9895C9.53296 8.54331 10.2637 8.54331 10.7145 8.9895L15.0001 13.2314L19.0814 9.19174C19.5322 8.74555 20.2629 8.74555 20.7137 9.19174C21.1645 9.63792 21.1645 10.3612 20.7137 10.8074L16.6324 14.847L20.918 19.089C21.3688 19.5351 21.3688 20.2584 20.918 20.7046Z"
                                        fill="white" />
                                </svg>
                            </button>
                        </li>
                        <li class="menu__item">
                            <a href="#service" data-index="2" data-anchor="service" class="menu__link"><span>Услуги</span></a>
                        </li>
                        <li class="menu__item">
                            <a href="#advantages" data-index="3" data-anchor="advantages" class=" menu__link"><span>Приемущества</span></a>
                        </li>
                        <li class="menu__item">
                            <a href="#projects" data-index="5" data-anchor="projects" class="menu__link"><span>Наши работы</span></a>
                        </li>
                        <li class="menu__item">
                            <a href="#about-us" data-index="6" data-anchor="about-us" class="menu__link"><span>О компании</span></a>
                        </li>
                        <li class="menu__item">
                            <a href="#contact-us" data-index="7" data-anchor="contact-us" class="menu__link"><span>Контакты</span></a>
                        </li>
                    </ul>
                </li>
                <!-- /.menu__wrapper -->
            </ul>
        </div>
        <!-- /.cr-6 -->
        <div class="cr-1 cr-1--mob cr-1--call">
            <div class="call">
                <button class="call__btn"><span>Заказать звонок</span></button>
            </div>
        </div>
        <!-- /.cr-1 -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.navigation -->