<section data-index="2" data-anchor="advantages" class="sect-3">
    <div class="container container--sect container--sect-sliers">
        <div class="wrapper-sect">
            <h2 class="title">Приемущества<br> работы с нами</h2>
            <div class="advantage swiper-container">
                <div class="advantage__wrap swiper-wrapper">
                    <div class="swiper-slide advantage__wrapper">
                        <div class="advantage__item advantage__item--1">
                            <div class="advantage__wrappers">
                                <div class="advantage__item_ico advantage__item_ico--1">
                                    <svg width="65" height="58" viewBox="0 0 65 58" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M0.0771484 18.8865L29.3449 53.3708L16.4158 18.8865H0.0771484Z"
                                            fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M10.2165 2.35181L0 17.2874H15.8165L10.2165 2.35181Z" fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M32.595 56.9755L32.5036 57.0834L32.5001 18.8865H18.124L32.5039 57.0834L32.5004 18.8865H46.8762L32.5956 56.9755H32.595Z"
                                            fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M64.9226 18.8865L35.655 53.3708L48.5841 18.8865H64.9226Z" fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M54.7836 2.35181L65 17.2874H49.1836L54.7836 2.35181Z" fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M47.4756 17.2873H32.5004H32.4997H17.5244L32.4979 0.41199V0.407593L32.5005 0.409362L32.5023 0.407593V0.41199L47.4758 17.2873H47.4756Z"
                                            fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.2744 0L53.6802 0.739005L48.1108 15.5937L34.2744 0Z" fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M30.7259 0L11.3201 0.739005L16.8895 15.5937L30.7259 0Z" fill="white" />
                                    </svg>
                                </div>
                                <!-- /.advantage__item_ico advantage__item_ico--1 -->
                                <div class="advantage__item_text">
                                    Более<br>
                                    10 лет опыта
                                </div>
                                <!-- /.advantage__item_text -->
                            </div>
                        </div>
                        <!-- /.advantage__item -->
                        <div class="advantage__item advantage__item--2">
                            <div class="advantage__wrappers">
                                <div class="advantage__item_ico advantage__item_ico--2">
                                    <svg width="60" height="65" viewBox="0 0 60 65" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M56.1821 4.06628C61.3681 9.38945 61.2569 17.9086 55.9338 23.0945C51.822 27.1002 45.8039 27.9445 40.8875 25.6686L38.1396 28.3456C37.6585 28.8144 36.8816 28.8044 36.4129 28.3232L35.9308 27.8283L13.8432 49.3466L15.6221 51.1725L18.097 48.7613L24.4482 55.2806L22.5048 57.174L19.6581 54.252L17.9321 55.9336L20.7787 58.8555L18.2745 61.2952L15.4279 58.3733L13.7017 60.0548L16.5485 62.9768L14.557 64.9169L8.20568 58.3977L10.6765 55.9906L8.89763 54.1647L4.38536 58.5607C3.90412 59.0295 3.12731 59.0194 2.65859 58.5382L0.345021 56.1635C-0.123694 55.6824 -0.113583 54.9056 0.367658 54.4367L31.9176 23.6999L31.4211 23.1902C30.9524 22.7091 30.9624 21.9322 31.4437 21.4634L34.1873 18.7904C32.0412 13.8167 33.0425 7.82324 37.1539 3.81789C42.4771 -1.36808 50.9962 -1.2569 56.1821 4.06628ZM52.8384 7.32386C56.2251 10.8002 56.1525 16.364 52.6761 19.7507C49.1998 23.1375 43.636 23.0648 40.2493 19.5885C36.8625 16.1122 36.9352 10.5484 40.4115 7.16168C43.8878 3.77494 49.4516 3.84757 52.8384 7.32386Z"
                                            fill="white" />
                                    </svg>
                                </div>
                                <!-- /.advantage__item_ico advantage__item_ico--2 -->
                                <div class="advantage__item_text">
                                    Комплексный<br>
                                    подход во всем
                                </div>
                                <!-- /.advantage__item_text -->
                            </div>
                            <!-- /.advantage__wrapper -->
                        </div>
                        <!-- /.advantage__item -->
                        <div class="advantage__item advantage__item--3">
                            <div class="advantage__wrappers">
                                <div class="advantage__item_ico advantage__item_ico--3">
                                    <svg width="60" height="63" viewBox="0 0 60 63" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M30 0C37.9402 5.93466 50.0871 8.78386 60 8.88397V35.2834C59.7441 48.1965 35.6013 59.7008 30 62.4795C24.3988 59.7008 0.255866 48.1965 0 35.2834V8.88397C9.91262 8.78386 22.0603 5.93466 30 0ZM30 48.6115C20.4058 48.6115 12.6282 40.8339 12.6282 31.2398C12.6282 21.6456 20.4058 13.868 30 13.868C39.5941 13.868 47.3718 21.6456 47.3718 31.2398C47.3718 40.8339 39.5941 48.6115 30 48.6115Z"
                                            fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M30.0004 45.4784C22.1365 45.4784 15.7614 39.1033 15.7614 31.2394C15.7614 23.3759 22.1365 17.0009 30.0004 17.0009C37.8639 17.0009 44.2389 23.3759 44.2389 31.2394C44.2389 39.1033 37.8639 45.4784 30.0004 45.4784ZM37.9282 23.8133L25.5758 36.1922L21.3995 32.0246C21.1212 31.7472 20.6667 31.7476 20.3891 32.0258L19.0064 33.4118C18.7285 33.6898 18.7291 34.1443 19.0072 34.4218L23.6892 39.0939L24.7109 40.1135L24.711 40.1133L25.075 40.4766C25.3531 40.7542 25.8075 40.7538 26.0852 40.4758L40.3251 26.2054C40.6027 25.9273 40.6023 25.4728 40.3243 25.1952L38.9385 23.8125C38.6604 23.5348 38.2059 23.5352 37.9282 23.8133L37.9282 23.8133Z"
                                            fill="white" />
                                    </svg>
                                </div>
                                <!-- /.advantage__item_ico advantage__item_ico--3 -->
                                <div class="advantage__item_text">
                                    Гарантия<br>
                                    проекта от 5 лет
                                </div>
                                <!-- /.advantage__item_text -->
                            </div>
                            <!-- /.advantage__wrapper -->
                        </div>
                        <!-- /.advantage__item -->
                    </div>
                    <div class="swiper-slide advantage__wrapper advantage__wrapper--two">
                        <div class="advantage__item advantage__item--4">
                            <div class="advantage__wrappers">
                                <div class="advantage__item_ico advantage__item_ico--4">
                                    <svg width="58" height="60" viewBox="0 0 58 60" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M0 0H45.1885V3.87865H37.1443H35.2933V10.2924H32.5469H30.6959V14.8365H30.1451H28.2943V50.5114H30.1451V50.5109H45.1885V59.8374H0V0ZM32.5469 16.6872H45.1885V16.6888H32.5469V16.6872ZM30.6959 16.6888H30.1451V16.6872H30.6959V16.6888ZM2.79256 53.2832H41.7494V52.0639H2.79256V53.2832ZM2.79256 48.4053H26.2697V47.1859H2.79256V48.4053ZM19.6762 38.6496V37.4301V37.4299H2.79256V37.4301V38.6496V38.6498H19.6762V38.6496ZM2.79256 33.7719H19.6762V33.7717V32.5523H2.79256V33.7717V33.7719ZM2.79256 28.894H19.6762V28.8938V27.6744H2.79256V28.8938V28.894ZM2.79256 3.47406H19.6762V5.99332L23.8832 1.77725C24.1409 1.51883 24.5639 1.51828 24.8226 1.77646L26.1109 3.06215C26.3699 3.3201 26.3701 3.74314 26.1124 4.00132L19.6765 10.4511V20.3577H2.79285V3.47406H2.79256Z"
                                            fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M4.03398 4.71508H18.4345V7.23691L12.3973 13.2871L8.5145 9.41185C8.25576 9.1539 7.83296 9.15437 7.57501 9.41264L6.28909 10.7019C6.0309 10.9601 6.03117 11.3827 6.2899 11.6404L10.6433 15.9848L11.5931 16.933L11.5934 16.9322L11.9318 17.2704C12.1903 17.5286 12.6127 17.5283 12.871 17.2696L18.4343 11.6944V19.1157H4.03369V4.71484L4.03398 4.71508Z"
                                            fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M30.1451 16.6885H30.6959H32.5469H58V48.6599H45.8448H30.1451V16.6885ZM46.8419 39.5351H48.2962V40.9897V48.6596H46.8419H41.3016H39.8473V40.9897V39.5351H41.3016H46.8419ZM32.8985 29.2872H55.2833V35.8738H41.334H39.8797H32.8985V29.2872ZM32.9001 20.3395H55.2844V26.9263H32.9001V20.3395Z"
                                            fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M32.5469 12.1433H46.7151H55.5314V14.8367H47.3311H32.5469V12.1433Z"
                                            fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M37.1442 5.72998H47.1256H50.9349V10.2927H46.715H37.1442V5.72998Z"
                                            fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M41.3219 21.7808H46.8619V25.4855H41.3219V21.7808Z" fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.3409 21.7808H39.8809V25.4855H34.3409V21.7808Z" fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M48.303 21.7808H53.8432V25.4855H48.303V21.7808Z" fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M41.3337 30.7285H46.8605V34.4331H41.3337V30.7285Z" fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.3397 30.7285H39.8795V34.4331H34.3397V30.7285Z" fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M48.3018 30.7285H53.8414V34.4331H48.3018V30.7285Z" fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M46.8419 40.99V48.6598H41.3016V40.99H46.8419Z" fill="white" />
                                    </svg>
                                </div>
                                <!-- /.advantage__item_ico advantage__item_ico--4 -->
                                <div class="advantage__item_text">
                                    Работы согласно<br>
                                    СНиП и ГОСТ
                                </div>
                                <!-- /.advantage__item_text -->
                            </div>
                            <!-- /.advantage__wrapper -->
                        </div>
                        <!-- /.advantage__item -->
                        <div class="advantage__item advantage__item--5">
                            <div class="advantage__wrappers">
                                <div class="advantage__item_ico advantage__item_ico--5">
                                    <svg width="70" height="62" viewBox="0 0 70 62" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M0 55.4177L51.1477 0L54.8206 12.9685L40.3276 28.6729L42.4772 37.6426L21.3766 60.5021L0 55.4177Z"
                                            fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M57.0063 12.1316L63.3349 22.6129L27.5224 61.4508L23.3491 59.8579L43.7395 37.7912L41.4779 28.9507L57.0063 12.1316Z"
                                            fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M43.7406 45.6716L52.4347 36.2444L53.747 41.5445L53.6232 41.679C52.8474 41.7767 52.0831 42.0576 51.3962 42.534C50.0597 43.461 49.3139 44.9213 49.2453 46.4296L49.1796 46.501L43.7406 45.6716Z"
                                            fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M69.9995 40.8308L69.9929 52.4124L64.609 50.2781L57.6062 50.2744C58.6693 49.3545 59.3422 47.9951 59.3416 46.4788C59.3408 45.1029 58.7861 43.857 57.8882 42.9513L64.6297 42.956L70 40.8314L69.9995 40.8308Z"
                                            fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M54.3258 42.2803C52.0062 42.2811 50.1266 44.1624 50.1274 46.4823C50.1284 48.8019 52.0095 50.6815 54.3291 50.6806C56.6489 50.6797 58.5288 48.7986 58.5278 46.479C58.527 44.1591 56.6456 42.2793 54.3258 42.2803ZM54.3296 43.4688C55.9932 43.4697 57.3408 44.8194 57.3397 46.4828C57.3387 48.1464 55.989 49.494 54.3254 49.4929C52.6618 49.4919 51.3143 48.1422 51.3156 46.4787C51.3165 44.8151 52.6662 43.4675 54.3296 43.4688Z"
                                            fill="white" />
                                    </svg>
                                </div>
                                <!-- /.advantage__item_ico advantage__item_ico--5 -->
                                <div class="advantage__item_text">
                                    Круглосуточное<br>
                                    видеонаблюдение
                                </div>
                                <!-- /.advantage__item_text -->
                            </div>
                            <!-- /.advantage__wrapper -->
                        </div>
                        <!-- /.advantage__item -->
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!-- /.advantage -->
        </div>
        <!-- /.wrapper-sect -->
    </div>
</section>