<section data-index="1" data-anchor="service" class="sect-2">
    <div class="container container--sect container--sect-sliers">
        <div class="wrapper-sect">
            <h2 class="title">
                Мы предоставляем широкий<br> спектр услуг
            </h2>
            <div class="slider">
                <div class="swiper-container swiper-cont">
                    <div class="slider__wrap--btn">
                        <button class="slider-btn-wrapper swiper-button-prev">
                            <svg class="slider-btn" width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path-btn-slider" d="M22.5 0C34.9066 0 45 10.0934 45 22.5C45 34.9066 34.9066 45 22.5 45C10.0934 45 0 34.9066 0 22.5C0 10.0934 10.0934 0 22.5 0ZM22.5 43.4741C34.0643 43.4741 43.4741 34.0654 43.4741 22.5C43.4741 10.9357 34.0643 1.52591 22.5 1.52591C10.9336 1.52591 1.52591 10.9357 1.52591 22.5C1.52591 34.0654 10.9336 43.4741 22.5 43.4741Z"
                                    fill="white" />
                                <path class="path-btn-slider" d="M25.3252 14.5998C25.5205 14.5998 25.7158 14.6741 25.8643 14.8237C26.1624 15.1207 26.1624 15.6049 25.8643 15.903L18.951 22.8245L25.8643 29.745C26.1614 30.043 26.1614 30.5273 25.8643 30.8243C25.5663 31.1224 25.0831 31.1224 24.785 30.8243L17.3335 23.3647C17.0354 23.0666 17.0354 22.5834 17.3335 22.2853L24.785 14.8257C24.9346 14.6741 25.1299 14.5998 25.3252 14.5998Z"
                                    fill="white" />
                            </svg>
                        </button>
                        <button class="slider-btn-wrapper swiper-button-next">
                            <svg class="slider-btn" width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path-btn-slider" d="M22.5 45C10.0934 45 0 34.9066 0 22.5C0 10.0934 10.0934 0 22.5 0C34.9066 0 45 10.0934 45 22.5C45 34.9066 34.9066 45 22.5 45ZM22.5 1.52591C10.9357 1.52591 1.52591 10.9346 1.52591 22.5C1.52591 34.0643 10.9357 43.4741 22.5 43.4741C34.0664 43.4741 43.4741 34.0643 43.4741 22.5C43.4741 10.9346 34.0664 1.52591 22.5 1.52591Z"
                                    fill="white" />
                                <path class="path-btn-slider" d="M19.6748 30.4002C19.4795 30.4002 19.2842 30.3259 19.1357 30.1763C18.8376 29.8793 18.8376 29.3951 19.1357 29.097L26.049 22.1755L19.1357 15.255C18.8386 14.957 18.8386 14.4727 19.1357 14.1757C19.4337 13.8776 19.9169 13.8776 20.215 14.1757L27.6665 21.6353C27.9646 21.9334 27.9646 22.4166 27.6665 22.7147L20.215 30.1743C20.0654 30.3259 19.8701 30.4002 19.6748 30.4002Z"
                                    fill="white" />
                            </svg>
                        </button>
                    </div>
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide swiper-slide-1">
                            <div class="swiper-slide--1">
                                 <div class="slide">
                                     <div class="slide__main">
                                         <h3 class="slide__title">Элитный ремонт квартир</h3>
                                         <p class="slide__text">Создаем атмосферу, в которой хочется жить</p>
                                     </div>
                                     <div class="slide__hover">
                                         <div class="slide__hov-wrap">
                                             <ul class="slide__hov-list">
                                                 <li class="slide__hov-item">Эксклюзивный дизайн</li>
                                                 <li class="slide__hov-item">Люксовый материал</li>
                                                 <li class="slide__hov-item">Современные технологии</li>
                                                 <li class="slide__hov-item">Концепции последнего поколения</li>
                                                 <li class="slide__hov-item">Совершенство в мелочах</li>
                                             </ul>
                                             <ul class="slide__hov-list">
                                                 <li class="slide__hov-item">Безопасность во всем</li>
                                                 <li class="slide__hov-item">Практичность в использовании</li>
                                                 <li class="slide__hov-item">Уникальность в решениях</li>
                                                 <li class="slide__hov-item">Высококлассные мастера</li>
                                             </ul>
                                         </div>
                                         <a href="#" class="slide__btn" data-num="0">
                                             <div class="circle">
                                                 <span class="icon arrow">
                                                 </span>
                                             </div>
                                             <p class="button-text">Подробнее</p>
                                            </a>
                                     </div>
                                 </div>
                            </div>
                            <!-- /.swiper-slide--one -->
                        </div>
                        <div class="swiper-slide swiper-slide-2">
                            <div class="swiper-slide--2">
                                <div class="slide">
                                    <div class="slide__main">
                                        <h3 class="slide__title">Элитный ремонт коттеджей</h3>
                                        <p class="slide__text">Создаем идеальное будущее для Вас</p>
                                    </div>
                                    <div class="slide__hover">
                                        <div class="slide__hov-wrap">
                                            <ul class="slide__hov-list">
                                                <li class="slide__hov-item">Утонченный интерьер</li>
                                                <li class="slide__hov-item">Люксовый материал</li>
                                                <li class="slide__hov-item">Современные технологии</li>
                                                <li class="slide__hov-item">Совершенство идеи</li>
                                                <li class="slide__hov-item">Практичность в использовании</li>
                                            </ul>
                                            <ul class="slide__hov-list">
                                                <li class="slide__hov-item">Точность в деталях</li>
                                                <li class="slide__hov-item">Правильность технологий</li>
                                                <li class="slide__hov-item">Уникальность в решениях</li>
                                                <li class="slide__hov-item">Высококлассные мастера</li>
                                            </ul>
                                        </div>
                                        <button class="slide__btn" data-num="1">
                                            <div class="circle">
                                                <span class="icon arrow">
                                                </span>
                                            </div>
                                            <p class="button-text">Подробнее</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.swiper-slide--two -->
                        </div>
                        <div class="swiper-slide swiper-slide-3">
                            <div class="swiper-slide--3">
                                 <div class="slide">
                                     <div class="slide__main">
                                         <h3 class="slide__title">Ремонт коммерческой недвижимости</h3>
                                         <p class="slide__text">Создаем атмосферу развития Вашего бизнеса</p>
                                     </div>
                                     <div class="slide__hover">
                                         <div class="slide__hov-wrap">
                                             <ul class="slide__hov-list">
                                                 <li class="slide__hov-item">Непривзойденный интерьер</li>
                                                 <li class="slide__hov-item">Люксовый материал</li>
                                                 <li class="slide__hov-item">Практичность в использовании</li>
                                                 <li class="slide__hov-item">Совершенные конкурентные идеи</li>
                                                 <li class="slide__hov-item">Высочайшая безопасность</li>
                                             </ul>
                                             <ul class="slide__hov-list">
                                                 <li class="slide__hov-item">Удобство рабочего процесса</li>
                                                 <li class="slide__hov-item">Правильность технологий</li>
                                                 <li class="slide__hov-item">Уникальность в мелочах</li>
                                                 <li class="slide__hov-item">Высококлассные мастера</li>
                                             </ul>
                                         </div>
                                         <button class="slide__btn" data-num="2">
                                             <div class="circle">
                                                 <span class="icon arrow">
                                                 </span>
                                             </div>
                                             <p class="button-text">Подробнее</p>
                                         </button>
                                     </div>
                                 </div>
                            </div>
                            <!-- /.swiper-slide--third -->
                        </div>
                        <div class="swiper-slide swiper-slide-4">
                            <div class="swiper-slide--4">
                                <div class="slide">
                                    <div class="slide__main">
                                        <h3 class="slide__title">Элитный дизайн интерьеров</h3>
                                        <p class="slide__text">Реализуем Ваши мечты в реальность</p>
                                    </div>
                                    <div class="slide__hover">
                                        <div class="slide__hov-wrap">
                                            <ul class="slide__hov-list">
                                                <li class="slide__hov-item">Непривзойденный интерьер</li>
                                                <li class="slide__hov-item">Удобство планировки</li>
                                                <li class="slide__hov-item">Совершенство идей</li>
                                                <li class="slide__hov-item">Уникальность в мелочах</li>
                                                <li class="slide__hov-item">Люксовый материал</li>
                                            </ul>
                                            <ul class="slide__hov-list">
                                                <li class="slide__hov-item">Точность в деталях</li>
                                                <li class="slide__hov-item">Современные технологии</li>
                                                <li class="slide__hov-item">Гармоничные решения</li>
                                                <li class="slide__hov-item">Комплексное сопровождение</li>
                                            </ul>
                                        </div>
                                        <button class="slide__btn" data-num="3">
                                            <div class="circle">
                                                <span class="icon arrow">
                                                </span>
                                            </div>
                                            <p class="button-text">Подробнее</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.swiper-slide--fouth -->
                        </div>
                        <div class="swiper-slide swiper-slide-1">
                            <div class="swiper-slide--1">
                                <div class="slide">
                                    <div class="slide__main">
                                        <h3 class="slide__title">Элитный ремонт квартир</h3>
                                        <p class="slide__text">Создаем атмосферу, в которой хочется жить</p>
                                    </div>
                                    <div class="slide__hover">
                                        <div class="slide__hov-wrap">
                                            <ul class="slide__hov-list">
                                                <li class="slide__hov-item">Эксклюзивный дизайн</li>
                                                <li class="slide__hov-item">Люксовый материал</li>
                                                <li class="slide__hov-item">Современные технологии</li>
                                                <li class="slide__hov-item">Концепции последнего поколения</li>
                                                <li class="slide__hov-item">Совершенство в мелочах</li>
                                            </ul>
                                            <ul class="slide__hov-list">
                                                <li class="slide__hov-item">Безопасность во всем</li>
                                                <li class="slide__hov-item">Практичность в использовании</li>
                                                <li class="slide__hov-item">Уникальность в решениях</li>
                                                <li class="slide__hov-item">Высококлассные мастера</li>
                                            </ul>
                                        </div>
                                        <a href="#" class="slide__btn" data-num="0">
                                            <div class="circle">
                                                <span class="icon arrow">
                                                </span>
                                            </div>
                                            <p class="button-text">Подробнее</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- /.swiper-slide--one -->
                        </div>
                        <div class="swiper-slide swiper-slide-2">
                            <div class="swiper-slide--2">
                                <div class="slide">
                                    <div class="slide__main">
                                        <h3 class="slide__title">Элитный ремонт коттеджей</h3>
                                        <p class="slide__text">Создаем идеальное будущее для Вас</p>
                                    </div>
                                    <div class="slide__hover">
                                        <div class="slide__hov-wrap">
                                            <ul class="slide__hov-list">
                                                <li class="slide__hov-item">Утонченный интерьер</li>
                                                <li class="slide__hov-item">Люксовый материал</li>
                                                <li class="slide__hov-item">Современные технологии</li>
                                                <li class="slide__hov-item">Совершенство идеи</li>
                                                <li class="slide__hov-item">Практичность в использовании</li>
                                            </ul>
                                            <ul class="slide__hov-list">
                                                <li class="slide__hov-item">Точность в деталях</li>
                                                <li class="slide__hov-item">Правильность технологий</li>
                                                <li class="slide__hov-item">Уникальность в решениях</li>
                                                <li class="slide__hov-item">Высококлассные мастера</li>
                                            </ul>
                                        </div>
                                        <button class="slide__btn" data-num="1">
                                            <div class="circle">
                                                <span class="icon arrow">
                                                </span>
                                            </div>
                                            <p class="button-text">Подробнее</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.swiper-slide--two -->
                        </div>
                        <div class="swiper-slide swiper-slide-3">
                            <div class="swiper-slide--3">
                                <div class="slide">
                                    <div class="slide__main">
                                        <h3 class="slide__title">Ремонт коммерческой недвижимости</h3>
                                        <p class="slide__text">Создаем атмосферу развития Вашего бизнеса</p>
                                    </div>
                                    <div class="slide__hover">
                                        <div class="slide__hov-wrap">
                                            <ul class="slide__hov-list">
                                                <li class="slide__hov-item">Непривзойденный интерьер</li>
                                                <li class="slide__hov-item">Люксовый материал</li>
                                                <li class="slide__hov-item">Практичность в использовании</li>
                                                <li class="slide__hov-item">Совершенные конкурентные идеи</li>
                                                <li class="slide__hov-item">Высочайшая безопасность</li>
                                            </ul>
                                            <ul class="slide__hov-list">
                                                <li class="slide__hov-item">Удобство рабочего процесса</li>
                                                <li class="slide__hov-item">Правильность технологий</li>
                                                <li class="slide__hov-item">Уникальность в мелочах</li>
                                                <li class="slide__hov-item">Высококлассные мастера</li>
                                            </ul>
                                        </div>
                                        <button class="slide__btn" data-num="2">
                                            <div class="circle">
                                                <span class="icon arrow">
                                                </span>
                                            </div>
                                            <p class="button-text">Подробнее</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.swiper-slide--third -->
                        </div>
                        <div class="swiper-slide swiper-slide-4">
                            <div class="swiper-slide--4">
                                <div class="slide">
                                    <div class="slide__main">
                                        <h3 class="slide__title">Элитный дизайн интерьеров</h3>
                                        <p class="slide__text">Реализуем Ваши мечты в реальность</p>
                                    </div>
                                    <div class="slide__hover">
                                        <div class="slide__hov-wrap">
                                            <ul class="slide__hov-list">
                                                <li class="slide__hov-item">Непривзойденный интерьер</li>
                                                <li class="slide__hov-item">Удобство планировки</li>
                                                <li class="slide__hov-item">Совершенство идей</li>
                                                <li class="slide__hov-item">Уникальность в мелочах</li>
                                                <li class="slide__hov-item">Люксовый материал</li>
                                            </ul>
                                            <ul class="slide__hov-list">
                                                <li class="slide__hov-item">Точность в деталях</li>
                                                <li class="slide__hov-item">Современные технологии</li>
                                                <li class="slide__hov-item">Гармоничные решения</li>
                                                <li class="slide__hov-item">Комплексное сопровождение</li>
                                            </ul>
                                        </div>
                                        <button class="slide__btn" data-num="3">
                                            <div class="circle">
                                                <span class="icon arrow">
                                                </span>
                                            </div>
                                            <p class="button-text">Подробнее</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.swiper-slide--fouth -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>