<section data-index="0" data-anchor="welcome" class="sect-1">
    <img src="img/bg/1.jpg" alt="">
    <div class="container container--sect container--sect-one">
        <div class="offer">
            <h1 class="offer__title">
                Элитный ремонт квартир и коттеджей<br>
                для ценителей эксклюзива и качества
            </h1>
            <!-- /.offer__title -->
            <p class="offer__text">Выполняя ремонт лидерами в отделке помещений, Вы получите
                высококлассное качество, уникальность, совершенство во всем.</p>
            <!-- /.offer__text -->
            <p class="offer__text offer__text--last">Мы превзойдём все Ваши ожидания.</p>
            <!-- /.offer__text -->
            <button class="offer__btn">Заказать звонок</button>
            <!-- /.offer__btn -->
        </div>
        <!-- /.offer -->
        <div class="mouse-wrap">
            <div class="mouse">
                <p>Scroll</p>
            </div>
        </div>
    </div>
</section>