<section data-index="6" data-anchor="contact-us" class="sect-7">
    <div class="container container--sect container--sect-contact">
        <div class="wrapper-sect">
            <div class="contact">
                <div class="contact__wrap--left">
                    <div class="title">Наши контакты</div>
                    <!-- /.title -->
                    <h3 class="contact__item--title contact__item--title-1 contact__item-1">Адрес офиса:</h3>
                    <!-- /.contact__item--title -->
                    <div class="contact__item--text contact__item--text-1 contact__item-1">г. Москва. Пресненская наб.
                        12<br>
                        ММДЦ "Москва Сити" (башня Федерация-I "Восток")</div>
                    <!-- /.contact__item--text -->
                    <h3 class="contact__item--title contact__item--title-2 contact__item-2">Телефон:</h3>
                    <!-- /.contact__item--title -->
                    <a href="tel:+84956644140" class="contact__item--text contact__item--text-2 contact__item-2">8(495)66-44-140</a>
                    <!-- /.contact__item--text -->
                    <h3 class="contact__item--title contact__item--title-3 contact__item-3">Электронная почта:</h3>
                    <!-- /.contact__item--title -->
                    <a href="mailto:Info@masgroup.vip" class="contact__item--text contact__item--text-3 contact__item-3">Info@masgroup.vip</a>
                    <!-- /.contact__item--text -->
                    <h3 class="contact__item--title contact__item--title-4 contact__item-4">Мы в социальных сетях:</h3>
                    <!-- /.contact__item--title -->
                    <ul class="contact__social contact__item-4">
                        <li class="contact__social-item contact__item-4-1">
                            <a href="#" class="contact__social-link">
                                <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0V25H25.7778V0H0ZM20.6651 13.8719C21.287 14.4941 21.9528 15.0762 22.5551 15.7154C22.9928 16.1804 23.3979 16.6849 23.7447 17.216C24.1834 17.8877 23.9124 18.5204 23.0929 18.633C22.5773 18.7036 20.0587 18.6336 19.9286 18.633C19.2515 18.6301 18.658 18.4022 18.18 17.9563C17.6484 17.4598 17.1653 16.9152 16.6549 16.3971C16.5011 16.2409 16.3369 16.0913 16.1599 15.9606C15.7424 15.6518 15.3326 15.7203 15.1375 16.1959C14.9708 16.6044 14.8268 17.677 14.8201 17.7686C14.785 18.2476 14.4707 18.5529 13.9174 18.5825C12.32 18.6665 10.7721 18.4939 9.33016 17.7446C8.10799 17.1099 7.13205 16.2124 6.28665 15.1658C4.94371 13.5034 3.88298 11.6761 2.91455 9.79509C2.86506 9.69892 1.88419 7.6747 1.85783 7.57909C1.77021 7.25894 1.85195 6.95311 2.13086 6.84784C2.30474 6.78218 5.53871 6.84762 5.5925 6.85042C6.10853 6.87747 6.46047 7.08861 6.67778 7.60811C7.29557 9.08771 8.07852 10.4827 9.10973 11.735C9.24651 11.9018 9.41891 12.0499 9.60054 12.1705C9.86582 12.3472 10.1161 12.2851 10.224 11.9908C10.3381 11.6819 10.4428 11.056 10.449 10.7317C10.466 9.88428 10.4464 9.32891 10.3995 8.48253C10.3691 7.94043 10.1704 7.46444 9.34815 7.32077C9.09424 7.27622 9.07065 7.07353 9.23378 6.87132C9.57339 6.45035 10.0465 6.38326 10.5595 6.35671C11.391 6.31315 12.2255 6.3487 13.058 6.35671C13.3971 6.35973 13.7383 6.38622 14.0722 6.45682C14.5078 6.54893 14.7411 6.84527 14.8129 7.25768C14.85 7.47042 14.8692 7.68913 14.8639 7.90439C14.8423 8.82939 14.7964 9.75389 14.7855 10.6784C14.7809 11.0413 14.8082 11.4132 14.8882 11.7666C15.0002 12.2592 15.346 12.3827 15.6996 12.0269C16.1486 11.5749 16.5445 11.0663 16.916 10.5498C17.5911 9.61027 18.0953 8.57918 18.5294 7.51606C18.7539 6.96749 18.9258 6.84834 19.5342 6.84686C20.6779 6.84433 21.8217 6.84335 22.9654 6.84686C23.1682 6.84784 23.3803 6.86639 23.5718 6.92541C23.8825 7.02152 24.0059 7.26728 23.9331 7.57914C23.7633 8.30995 23.3561 8.93109 22.92 9.52826C22.2201 10.4863 21.4867 11.4213 20.7704 12.3683C20.679 12.4889 20.5985 12.6176 20.5236 12.7483C20.2558 13.2177 20.2744 13.4809 20.6651 13.8719Z"
                                        fill="white" />
                                </svg>
                            </a>
                            <!-- /.contact__social-link -->
                        </li>
                        <!-- /.contact__social-item -->
                        <li class="contact__social-item contact__item-4-2">
                            <a href="#" class="contact__social-link">
                                <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.111328 0V25H13.8396V15.343H10.4836V11.4008H13.8396V8.08999C13.8396 5.68215 15.8522 3.73022 18.335 3.73022H21.8433V7.2752H19.3329C18.544 7.2752 17.9045 7.89546 17.9045 8.66056V11.4008H21.7803L21.2446 15.3431H17.9045V25H25.8891V0H0.111328Z"
                                        fill="white" />
                                </svg>
                            </a>
                            <!-- /.contact__social-link -->
                        </li>
                        <!-- /.contact__social-item -->
                        <li class="contact__social-item contact__item-4-3">
                            <a href="#" class="contact__social-link">
                                <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.1113 10.0142C11.6983 10.0142 10.5478 11.1294 10.5478 12.4997C10.5478 13.8706 11.6983 14.9864 13.1113 14.9864C14.5248 14.9864 15.6747 13.8706 15.6747 12.4997C15.6747 11.1294 14.5248 10.0142 13.1113 10.0142ZM13.1113 10.0142C11.6983 10.0142 10.5478 11.1294 10.5478 12.4997C10.5478 13.8706 11.6983 14.9864 13.1113 14.9864C14.5248 14.9864 15.6747 13.8706 15.6747 12.4997C15.6747 11.1294 14.5248 10.0142 13.1113 10.0142ZM17.3818 5.96077H8.84127C7.47808 5.96077 6.36887 7.03651 6.36887 8.35857V16.6414C6.36887 17.9635 7.47808 19.0392 8.84127 19.0392H17.3818C18.745 19.0392 19.8542 17.9635 19.8542 16.6414V8.35857C19.8542 7.03651 18.745 5.96077 17.3818 5.96077ZM13.1113 16.8055C10.6638 16.8055 8.67214 14.8739 8.67214 12.4997C8.67214 10.1261 10.6638 8.19454 13.1113 8.19454C15.5593 8.19454 17.5509 10.1261 17.5509 12.4997C17.5509 14.8739 15.5593 16.8055 13.1113 16.8055ZM17.6935 9.08488C17.1143 9.08488 16.6431 8.62792 16.6431 8.06618C16.6431 7.50444 17.1143 7.04748 17.6935 7.04748C18.2727 7.04748 18.7439 7.50444 18.7439 8.06618C18.7439 8.62792 18.2727 9.08488 17.6935 9.08488ZM13.1113 10.0142C11.6983 10.0142 10.5478 11.1294 10.5478 12.4997C10.5478 13.8706 11.6983 14.9864 13.1113 14.9864C14.5248 14.9864 15.6747 13.8706 15.6747 12.4997C15.6747 11.1294 14.5248 10.0142 13.1113 10.0142ZM17.3818 5.96077H8.84127C7.47808 5.96077 6.36887 7.03651 6.36887 8.35857V16.6414C6.36887 17.9635 7.47808 19.0392 8.84127 19.0392H17.3818C18.745 19.0392 19.8542 17.9635 19.8542 16.6414V8.35857C19.8542 7.03651 18.745 5.96077 17.3818 5.96077ZM13.1113 16.8055C10.6638 16.8055 8.67214 14.8739 8.67214 12.4997C8.67214 10.1261 10.6638 8.19454 13.1113 8.19454C15.5593 8.19454 17.5509 10.1261 17.5509 12.4997C17.5509 14.8739 15.5593 16.8055 13.1113 16.8055ZM17.6935 9.08488C17.1143 9.08488 16.6431 8.62792 16.6431 8.06618C16.6431 7.50444 17.1143 7.04748 17.6935 7.04748C18.2727 7.04748 18.7439 7.50444 18.7439 8.06618C18.7439 8.62792 18.2727 9.08488 17.6935 9.08488ZM13.1113 10.0142C11.6983 10.0142 10.5478 11.1294 10.5478 12.4997C10.5478 13.8706 11.6983 14.9864 13.1113 14.9864C14.5248 14.9864 15.6747 13.8706 15.6747 12.4997C15.6747 11.1294 14.5248 10.0142 13.1113 10.0142ZM0.222656 0V25H26.0004V0H0.222656ZM21.7299 16.6414C21.7299 18.9668 19.7796 20.8583 17.3818 20.8583H8.84127C6.44353 20.8583 4.49322 18.9668 4.49322 16.6414V8.35857C4.49322 6.03318 6.44353 4.14171 8.84127 4.14171H17.3818C19.7796 4.14171 21.7299 6.03318 21.7299 8.35857V16.6414ZM17.3818 5.96077H8.84127C7.47808 5.96077 6.36887 7.03651 6.36887 8.35857V16.6414C6.36887 17.9635 7.47808 19.0392 8.84127 19.0392H17.3818C18.745 19.0392 19.8542 17.9635 19.8542 16.6414V8.35857C19.8542 7.03651 18.745 5.96077 17.3818 5.96077ZM13.1113 16.8055C10.6638 16.8055 8.67214 14.8739 8.67214 12.4997C8.67214 10.1261 10.6638 8.19454 13.1113 8.19454C15.5593 8.19454 17.5509 10.1261 17.5509 12.4997C17.5509 14.8739 15.5593 16.8055 13.1113 16.8055ZM17.6935 9.08488C17.1143 9.08488 16.6431 8.62792 16.6431 8.06618C16.6431 7.50444 17.1143 7.04748 17.6935 7.04748C18.2727 7.04748 18.7439 7.50444 18.7439 8.06618C18.7439 8.62792 18.2727 9.08488 17.6935 9.08488ZM13.1113 10.0142C11.6983 10.0142 10.5478 11.1294 10.5478 12.4997C10.5478 13.8706 11.6983 14.9864 13.1113 14.9864C14.5248 14.9864 15.6747 13.8706 15.6747 12.4997C15.6747 11.1294 14.5248 10.0142 13.1113 10.0142ZM13.1113 10.0142C11.6983 10.0142 10.5478 11.1294 10.5478 12.4997C10.5478 13.8706 11.6983 14.9864 13.1113 14.9864C14.5248 14.9864 15.6747 13.8706 15.6747 12.4997C15.6747 11.1294 14.5248 10.0142 13.1113 10.0142ZM13.1113 10.0142C11.6983 10.0142 10.5478 11.1294 10.5478 12.4997C10.5478 13.8706 11.6983 14.9864 13.1113 14.9864C14.5248 14.9864 15.6747 13.8706 15.6747 12.4997C15.6747 11.1294 14.5248 10.0142 13.1113 10.0142ZM17.3818 5.96077H8.84127C7.47808 5.96077 6.36887 7.03651 6.36887 8.35857V16.6414C6.36887 17.9635 7.47808 19.0392 8.84127 19.0392H17.3818C18.745 19.0392 19.8542 17.9635 19.8542 16.6414V8.35857C19.8542 7.03651 18.745 5.96077 17.3818 5.96077ZM13.1113 16.8055C10.6638 16.8055 8.67214 14.8739 8.67214 12.4997C8.67214 10.1261 10.6638 8.19454 13.1113 8.19454C15.5593 8.19454 17.5509 10.1261 17.5509 12.4997C17.5509 14.8739 15.5593 16.8055 13.1113 16.8055ZM17.6935 9.08488C17.1143 9.08488 16.6431 8.62792 16.6431 8.06618C16.6431 7.50444 17.1143 7.04748 17.6935 7.04748C18.2727 7.04748 18.7439 7.50444 18.7439 8.06618C18.7439 8.62792 18.2727 9.08488 17.6935 9.08488ZM13.1113 10.0142C11.6983 10.0142 10.5478 11.1294 10.5478 12.4997C10.5478 13.8706 11.6983 14.9864 13.1113 14.9864C14.5248 14.9864 15.6747 13.8706 15.6747 12.4997C15.6747 11.1294 14.5248 10.0142 13.1113 10.0142ZM13.1113 10.0142C11.6983 10.0142 10.5478 11.1294 10.5478 12.4997C10.5478 13.8706 11.6983 14.9864 13.1113 14.9864C14.5248 14.9864 15.6747 13.8706 15.6747 12.4997C15.6747 11.1294 14.5248 10.0142 13.1113 10.0142ZM13.1113 10.0142C11.6983 10.0142 10.5478 11.1294 10.5478 12.4997C10.5478 13.8706 11.6983 14.9864 13.1113 14.9864C14.5248 14.9864 15.6747 13.8706 15.6747 12.4997C15.6747 11.1294 14.5248 10.0142 13.1113 10.0142ZM17.3818 5.96077H8.84127C7.47808 5.96077 6.36887 7.03651 6.36887 8.35857V16.6414C6.36887 17.9635 7.47808 19.0392 8.84127 19.0392H17.3818C18.745 19.0392 19.8542 17.9635 19.8542 16.6414V8.35857C19.8542 7.03651 18.745 5.96077 17.3818 5.96077ZM13.1113 16.8055C10.6638 16.8055 8.67214 14.8739 8.67214 12.4997C8.67214 10.1261 10.6638 8.19454 13.1113 8.19454C15.5593 8.19454 17.5509 10.1261 17.5509 12.4997C17.5509 14.8739 15.5593 16.8055 13.1113 16.8055ZM17.6935 9.08488C17.1143 9.08488 16.6431 8.62792 16.6431 8.06618C16.6431 7.50444 17.1143 7.04748 17.6935 7.04748C18.2727 7.04748 18.7439 7.50444 18.7439 8.06618C18.7439 8.62792 18.2727 9.08488 17.6935 9.08488ZM13.1113 10.0142C11.6983 10.0142 10.5478 11.1294 10.5478 12.4997C10.5478 13.8706 11.6983 14.9864 13.1113 14.9864C14.5248 14.9864 15.6747 13.8706 15.6747 12.4997C15.6747 11.1294 14.5248 10.0142 13.1113 10.0142Z"
                                        fill="white" />
                                </svg>
                            </a>
                            <!-- /.contact__social-link -->
                        </li>
                        <!-- /.contact__social-item -->
                    </ul>
                    <!-- /.contact__social -->
                </div>
                <!-- /.contact__wrap--left -->
                <div class="contact__wrap--map">
                    <div id="map"></div>
                </div>
            </div>
            <!-- /.contact -->
        </div>
        <div class="footer">
            <div class="copy">
                <p class="copy__name">
                    &copy; 2010 - 2019 «M.A.S» Group, в составе ГК «СтройГрад».
                </p>
                <div class="copy__weWillFuckYourMom">
                    Копирование контента запрещено и преследуется законом.
                    Информация на сайте, не является публичной офертой.
                </div>
            </div>
        </div>
        <!-- /.wrapper-sect -->
    </div>
</section>