<section data-index="5" data-anchor="about-us" class="sect-6">
    <div class="container container--sect container--sect-about">
        <div class="wrapper-sect">
            <div class="about">
                <div class="about__wrap--left">
                    <h2 class="title">О нашей компании</h2>
                    <!-- /.title -->
                    <div class="about__img--mob"><img src="img/about.jpg" alt=""></div>
                    <div class="about__wrap--text">
                        <p class="about__text about__text--1">
                            «MAS Group» - является одним из премиальных подразделений ЗАО «Группа Компаний
                            «СтройГрад», которая является девелопментом недвижимости с 2000-х годов.
                        </p>
                        <!-- /.about__text -->
                        <p class="about__text about__text--2">
                            Направление премиального ремонта и дизайн интерьеров «MAS Group», является одним из
                            лидеров в эксклюзивной отделке помещений и дизайне интерьеров, уже более 10 лет. Нами было
                            реализовано более 700 объектов премиального и элитного класса по всей России.
                        </p>
                        <!-- /.about__text -->
                        <p class="about__text about__text--3">
                            Штат специалистов компании, постоянно повышают свою профессиональную квалификацию в
                            специализированных учебных заведениях России, США, и европейских стран, имеют огромный
                            опыт в премиум и элитном сегменте, имеют все необходимые допуски и лицензии.
                        </p>
                        <!-- /.about__text -->
                    </div>
                    <!-- /.about__wrap--text -->
                </div>
                <!-- /.about__wrap--left -->
                <div class="about__wrap--img">
                    <img src="img/about.jpg" alt="Изображение Офиса Mass Group">
                </div>
                <!-- /.about__wrap--img -->
            </div>
            <!-- /.about -->
        </div>
        <!-- /.wrapper-sect -->
    </div>
</section>