<section data-index="3" data-anchor="offer" class="sect-4">
    <div class="container container--sect container--sect-sliers">
        <div class="wrapper-sect">
            <h2 class="title">Мы предлагаем нашим клиентам</h2>
            <div class="propose swiper-container">
                 <div class="slider__wrap--btn">
                        <button class="slider-btn-wrapper swiper-button-prev">
                            <svg class="slider-btn" width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path-btn-slider" d="M22.5 0C34.9066 0 45 10.0934 45 22.5C45 34.9066 34.9066 45 22.5 45C10.0934 45 0 34.9066 0 22.5C0 10.0934 10.0934 0 22.5 0ZM22.5 43.4741C34.0643 43.4741 43.4741 34.0654 43.4741 22.5C43.4741 10.9357 34.0643 1.52591 22.5 1.52591C10.9336 1.52591 1.52591 10.9357 1.52591 22.5C1.52591 34.0654 10.9336 43.4741 22.5 43.4741Z"
                                    fill="white" />
                                <path class="path-btn-slider" d="M25.3252 14.5998C25.5205 14.5998 25.7158 14.6741 25.8643 14.8237C26.1624 15.1207 26.1624 15.6049 25.8643 15.903L18.951 22.8245L25.8643 29.745C26.1614 30.043 26.1614 30.5273 25.8643 30.8243C25.5663 31.1224 25.0831 31.1224 24.785 30.8243L17.3335 23.3647C17.0354 23.0666 17.0354 22.5834 17.3335 22.2853L24.785 14.8257C24.9346 14.6741 25.1299 14.5998 25.3252 14.5998Z"
                                    fill="white" />
                            </svg>
                        </button>
                        <button class="slider-btn-wrapper swiper-button-next">
                            <svg class="slider-btn" width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="path-btn-slider" d="M22.5 45C10.0934 45 0 34.9066 0 22.5C0 10.0934 10.0934 0 22.5 0C34.9066 0 45 10.0934 45 22.5C45 34.9066 34.9066 45 22.5 45ZM22.5 1.52591C10.9357 1.52591 1.52591 10.9346 1.52591 22.5C1.52591 34.0643 10.9357 43.4741 22.5 43.4741C34.0664 43.4741 43.4741 34.0643 43.4741 22.5C43.4741 10.9346 34.0664 1.52591 22.5 1.52591Z"
                                    fill="white" />
                                <path class="path-btn-slider" d="M19.6748 30.4002C19.4795 30.4002 19.2842 30.3259 19.1357 30.1763C18.8376 29.8793 18.8376 29.3951 19.1357 29.097L26.049 22.1755L19.1357 15.255C18.8386 14.957 18.8386 14.4727 19.1357 14.1757C19.4337 13.8776 19.9169 13.8776 20.215 14.1757L27.6665 21.6353C27.9646 21.9334 27.9646 22.4166 27.6665 22.7147L20.215 30.1743C20.0654 30.3259 19.8701 30.4002 19.6748 30.4002Z"
                                    fill="white" />
                            </svg>
                        </button>
                 </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide propose-slide">
                        <div class="propose__item propose__item--1">
                            <div class="propose__main">
                                <h3 class="propose__title">Комплектация</h3>
                            </div>
                            <!-- /.propose__main -->
                            <div class="propose__hover">
                                <ul class="propose__list">
                                    <li class="propose__list_item">
                                        На объект, мы приобретаем
                                        только экологически чистый
                                        материал.
                                    </li>
                                    <!-- /.propose__list_item -->
                                    <li class="propose__list_item propose__list_item--center">
                                        Подбираем чистовые
                                        материалы, совершенного
                                        качества.
                                    </li>
                                    <!-- /.propose__list_item -->
                                    <li class="propose__list_item">
                                        Подбираем мебель,
                                        освещение, фурнитуру
                                        только известных
                                        производителей.
                                    </li>
                                    <!-- /.propose__list_item -->
                                </ul>
                                <!-- /.propose__list -->
                            </div>
                            <!-- /.propose__hover -->
                        </div>
                        <!-- /.propose__item -->
                    </div>
                    <div class="swiper-slide propose-slide">
                        <div class="propose__item propose__item--2">
                            <div class="propose__main">
                                <h3 class="propose__title">Декорирование</h3>
                                <!-- /.propose__title -->
                            </div>
                            <!-- /.propose__main -->
                            <div class="propose__hover">
                                <ul class="propose__list">
                                    <li class="propose__list_item">
                                        Производим комплексное
                                        декорирование для
                                        комфортной жизни.
                                    </li>
                                    <!-- /.propose__list_item -->
                                    <li class="propose__list_item propose__list_item--center">
                                        Подбираем текстиль,
                                        столовые приборы, картины,
                                        ковры, светильники.
                                    </li>
                                    <!-- /.propose__list_item .propose__list_item--small -->
                                    <li class="propose__list_item">
                                        Производим комплексное
                                        декорирование всех комнат,
                                        совместно с дизайнерами -
                                        декораторами.
                                    </li>
                                    <!-- /.propose__list_item -->
                                </ul>
                                <!-- /.propose__list -->
                            </div>
                            <!-- /.propose__hover -->
                        </div>
                        <!-- /.propose__item -->
                    </div>
                    <div class="swiper-slide propose-slide">
                        <div class="propose__item propose__item--3">
                            <div class="propose__main">
                                <h3 class="propose__title">Мебель</h3>
                                <!-- /.propose__title -->
                            </div>
                            <!-- /.propose__main -->
                            <div class="propose__hover">
                                <ul class="propose__list">
                                    <li class="propose__list_item">
                                        Изготавливаем элитную
                                        индивидуальную мебель
                                        любого фасона и стиля
                                    </li>
                                    <!-- /.propose__list_item -->
                                    <li class="propose__list_item propose__list_item--center">
                                        Выполняем поставки мебели
                                        самых известных брендов и
                                        редких экземпляров.
                                    </li>
                                    <!-- /.propose__list_item -->
                                    <li class="propose__list_item">
                                        Выезжаем за границу для
                                        личной покупки или заказа,
                                        доставки и проверки
                                        качества мебели.
                                    </li>
                                    <!-- /.propose__list_item -->
                                </ul>
                                <!-- /.propose__list -->
                            </div>
                            <!-- /.propose__hover -->
                        </div>
                        <!-- /.propose__item -->
                    </div>
                </div>
            </div>
            <!-- /.propose -->
        </div>
    </div>
</section>