//= template/head.html
<body class="">
    
<div class="preloader">
    <div class="preloader__ico">
        <div class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-double-ring">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- /.preloader__ico -->
</div>
<!-- /.preloader -->
<script>
    let preload = document.querySelector('.preloader');
    preload.classList.add('preloader__show');

    setTimeout(function () {
        
        preload.classList.remove('preloader__show');
        // document.querySelector('.sect-1').classList.remove('pg-active');
        // document.querySelector('sect-1').classList.add('pg-active');
    }, 2500);
    setTimeout(function() {
        // document.querySelector('.sect-1').classList.add('prel');
    }, 800);
</script>
    //= template/navigation.html
    //= template/anchors.html
    <main class="main-wrap">
        //= template/screen1.html
        //= template/screen2.html
        //= template/screen3.html
        //= template/screen4.html
        //= template/screen5.html
        //= template/screen6.html
        //= template/screen7.html
    </main>
    <div class="modals">
        <div class="modals__wrapper">
            //= template/modal-1.html
            //= template/modal-2.html
            //= template/modal-3.html
            //= template/modal-4.html
            //= template/modal-proj1.html
        </div>
        <!-- /.modals__wrapper -->
    </div>
    <!-- /.modals -->
    <div class="modal-call">
        <div class="modal-call__wrapper">
            <form action="https://script.google.com/macros/s/AKfycbwjaVK1VOet6IqCuJlCfzyL7d0yrI478rj9eEoc/exec"
                method="POST" data-email="masgroup.vip@gmail.com" class="gform modal-call__form">
                <div class="close-call">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.6118 4.34367C19.7608 -1.44761 10.24 -1.44818 4.38845 4.34367C-1.46311 10.1355 -1.46253 19.5586 4.38845 25.3504C10.2394 31.1423 19.7602 31.1423 25.6118 25.3504C31.4627 19.5586 31.4627 10.135 25.6118 4.34367ZM20.918 20.7046C20.4673 21.1508 19.7365 21.1508 19.2857 20.7046L15.0001 16.4627L10.5107 20.9063C10.0599 21.3525 9.32921 21.3525 8.87842 20.9063C8.42764 20.4601 8.42764 19.7368 8.87842 19.2906L13.3678 14.847L9.08217 10.6051C8.63138 10.1589 8.63138 9.43511 9.08217 8.9895C9.53296 8.54331 10.2637 8.54331 10.7145 8.9895L15.0001 13.2314L19.0814 9.19174C19.5322 8.74555 20.2629 8.74555 20.7137 9.19174C21.1645 9.63792 21.1645 10.3612 20.7137 10.8074L16.6324 14.847L20.918 19.089C21.3688 19.5351 21.3688 20.2584 20.918 20.7046Z"
                            fill="white" />
                    </svg>
                </div>
                <!-- /.close-call -->
                <div class="modal-call__wrap">
                    <h3 class="modal-call__title">Остались вопросы?</h3>
                    <!-- /.modal-call__title -->
                    <p class="modal-call__text">Заполните форму заявки, и наш специалист ответит на все Ваши вопросы.</p>
                    <!-- /.modal-call__text -->
                </div>
                <!-- /.modal-call__wrap -->
                <div class="modal-call__wrap modal-call__wrap--input">
                    <input type="text" name="name" id="name"  class="modal-call__input" placeholder="Ваше имя">
                    <span class="error-name">Пожалуйста, заполните это поле</span>
                    <input type="tel" name="phone" id="tel" class="modal-call__input" placeholder="Ваш номер телефона">
                    <span class="error-phone">Пожалуйста, заполните это поле</span>
                </div>
                <!-- /.modal-call__wrap -->
                <button class="modal-call__btn">Заказать звонок</button>
                <!-- /.modal-call__btn -->
            </form>
            <!-- /.modal-call__form -->
        </div>
        <!-- /.modal-call__wrapper -->
        <div class="modal-call__wrapper modal-call__wrapper--success">
            <div class="modal-call__success">
                <div class="modal-call__success_ico">
                    <svg width="287" height="298" viewBox="0 0 287 298" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M210 150.656C210 187.114 180.167 216.643 143.333 216.643C106.5 216.643 76.6667 187.114 76.6667 150.656C76.6667 114.199 106.5 84.6701 143.333 84.6701C149.667 84.6701 155.833 85.5774 161.667 87.227L174.75 74.2772C165.083 70.318 154.5 68.1735 143.333 68.1735C97.3333 68.1735 60 105.126 60 150.656C60 196.187 97.3333 233.139 143.333 233.139C189.333 233.139 226.667 196.187 226.667 150.656H210ZM109.25 134.82L97.5 146.532L135 183.65L218.333 101.167L206.583 89.4541L135 160.307L109.25 134.82Z"
                            fill="#D8B367" />
                        <path opacity="0.1" d="M260 150.327C260 214.269 207.627 266.122 143 266.122C78.373 266.122 26 214.269 26 150.327C26 86.3839 78.373 34.5306 143 34.5306C207.627 34.5306 260 86.3839 260 150.327Z"
                            stroke="#D8B367" stroke-width="2" />
                        <circle opacity="0.1" cx="143.5" cy="154.5" r="142.5" stroke="#D8B367" stroke-width="2" />
                        <g filter="url(#filter0_d)">
                            <circle cx="103" cy="18" r="3" fill="#D8B367" />
                        </g>
                        <g filter="url(#filter1_d)">
                            <circle cx="219" cy="243" r="3" fill="#D8B367" />
                        </g>
                        <defs>
                            <filter id="filter0_d" x="85" y="0" width="36" height="36" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                <feOffset />
                                <feGaussianBlur stdDeviation="7.5" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0.847059 0 0 0 0 0.701961 0 0 0 0 0.403922 0 0 0 1 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                            </filter>
                            <filter id="filter1_d" x="201" y="225" width="36" height="36" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                <feOffset />
                                <feGaussianBlur stdDeviation="7.5" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0.847059 0 0 0 0 0.701961 0 0 0 0 0.403922 0 0 0 1 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                            </filter>
                        </defs>
                    </svg>
                </div>
                <!-- /.modal-call__success_ico -->
                <div class="modal-call__success_wrap">
                    <h3 class="modal-call__success_title">
                        Ваша заявка успешно<br> отправлена!
                    </h3>
                    <!-- /.modal-call__success_title -->
                    <p class="modal-call__success_text">
                        Благодарим Вас за отправленную заявку,<br>
                        наш специалист свяжется с Вами<br>
                        в течении 20 минут.
                    </p>
                    <!-- /.modal-call__success_text -->
                </div>
                <!-- /.modal-call__success_wrap -->
            </div>
            <!-- /.modal-call__success -->
        </div>
        <!-- /.modal-call__wrapper modal-call__wrapper--success -->
    </div>
    <!-- /.modal-call -->
    <div class="overlay"></div>
    <script src="js/onepagescroll.min.js"></script>
    <script src="js/pageable.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <!-- <script src="https://api-maps.yandex.ru/2.1/?apikey=36d4062a-eb0f-4a76-8f5c-4b350e0253f2&lang=ru_RU"></script> -->

    
    <script src="js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTSvcTlg_51B3C4l4FPUk882yuEtyDyl8&callback=run_map"
        async defer></script>
    <script>
            var map;
            function run_map() {
                var location = {lat: 55.749511, lng: 37.537083};
                var map_options = {
                    zoom: 15,
                    center: location,
                    scrollwheel: false,
                    styles: [
                        {
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#212121"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#212121"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.country",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#9e9e9e"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.land_parcel",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.locality",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#bdbdbd"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#181818"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#616161"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#1b1b1b"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#2c2c2c"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#8a8a8a"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#373737"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#3c3c3c"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway.controlled_access",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#4e4e4e"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#616161"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#000000"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#3d3d3d"
                                }
                            ]
                        }
                    ],
                    mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var contentStr = '<h2 class="map-title">г. Москва. Пресненская наб 12<br> ММДЦ "Москва Сити" (башня Федерация-I "Восток")</h2>';

            var infowindow = new google.maps.InfoWindow({
                content: contentStr
            });
            map = new google.maps.Map(document.getElementById("map"), map_options);
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                icon: "img/svg/local.svg",
                    });
                    marker.addListener('click', function() {
                        infowindow.open(map, marker);
                    });
            }
    </script>
</body>
</html>